﻿@model hospitalErpDomainLayer.SelectionDetailsModel

<link href="~/assets/loading.css" rel="stylesheet" />
<div class="form-horizontal">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <form id="myForm">
        <input id="sTId" name="sTId" type="hidden" value="@Model.sTId" />
        <input id="id" name="id" type="hidden" value="@Model.id" />
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.NameArabic</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.selNameArabic, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">@Resources.Resource.NameEnglish</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.selNameEnglish, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.id > 0)
                    {<span>@Resources.Resource.btnEdit</span> }
                    else
                    {<span>@Resources.Resource.btnSave</span>}
                </button>

            </div>
        </div>
    </form>
</div>


<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {
                selNameArabic: "required",
                selNameEnglish: "required",
                selNameArabic: {
                    required: true,

                },
                selNameEnglish: {
                    required: true,
                }
            },
            messages: {
                selNameArabic: {
                    required: "Please provide a IPIN",
                },
                selNameEnglish: {
                    required: "Please enter your Wallet Number",

                },
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
             var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/SettingModule/Selections/AddOrEdit",
                data: myformdata,
                success: function () {
                    $("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/SettingModule/Selections/SelectDetailIndex?Id="+@Model.sTId;
                }

            })

            }
        });
    });
</script>
