﻿@model IEnumerable<hospitalErpDomainLayer.SelectionTypeModel>

@{
    ViewBag.Title = "SelectTypeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SelectionsType</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>

                        <th>@Resources.Resource.HrtID</th>
                        <th>@Resources.Resource.NameEnglish</th>
                        <th>@Resources.Resource.NameArabic </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                <a href="#">@item.id</a>
                            </td>
                            <td>
                                @item.EnglishName
                            </td>
                            <td>@item.ArabicName</td>
                            <td>
                                <a class="btn btn-primary btn-sm" href="/SettingModule/Selections/SelectDetailIndex?Id=@item.id">
                                    <i class="ace-icon glyphicon glyphicon-plus"></i>
                                </a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
            
        });

    
    });
</script>
