﻿@model hospitalErpDomainLayer.EmployeeRequestModel
<style>
   textarea{

       width:100%;
   }

</style>
<form id="myForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-horizontal">
                @Html.HiddenFor(model=>model.Oid)
                @Html.HiddenFor(model => model.empId)

                @if (Resources.Resource.SIdRequestType == "Request Type")
                {
                    <div class="form-group">
                        <label class="control-label">@Resources.Resource.SIdRequestType</label>
                        <select id="requestTypeId" name="requestTypeId" class="chosen-select form-control">
                            @foreach (var item in ViewBag.Type)
                            {
                                <option value="@item.id">@item.requestNameEnglish - @item.DepartmentNameEn</option>
                            }
                        </select>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label class="control-label">@Resources.Resource.SIdRequestType</label>
                        <select id="requestTypeId" name="requestTypeId" class="chosen-select form-control">
                            @foreach (var item in ViewBag.Type)
                            {
                                <option value="@item.id">@item.requestNameArabic - @item.DepartmentNameAr</option>
                            }
                        </select>
                    </div>
                }
               

                <div class="form-group">
                    <label class="control-label">@Resources.Resource.requestDetails</label>
                   
                        @Html.TextAreaFor(model => model.requestDetails, new { htmlAttributes = new { @class = "form-control" } })
                  
                </div>

              

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="submit" value="@Resources.Resource.btnSend" id="btnSubmit" class="btn btn-primary btn-block" />
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                requestDetails: "required",
                requestDetails: {
                    required: true,

                },


            },
            messages: {
                requestDetails: {
                    required: "Please enter Request Details",
                },
               
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/RequestsModule/EmployeeRequest/Create",
                    data: myformdata,
                    success: function () {
                        $("#myModal").modal("hide");

                        window.location.href = "/RequestsModule/EmployeeRequest/Index";
                    }

                })

            }
        });
    });
</script>