﻿@model IEnumerable<hospitalErpDomainLayer.EmployeeRequestViweModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SIdMyRequest</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="Create()">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resource.HrtID
                        </th>
                        
                        <th>
                            @Resources.Resource.SidRequestTypes
                        </th>
                        <th>
                          @Resources.Resource.requestDetails
                        </th>
                        <th>
                            @Resources.Resource.Stuts
                        </th>

                      
                    </tr>
                </thead>
                @if (Resources.Resource.requestDetails== "Request Details")
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.requestId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.requestTypeNameEn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.requestDetails)
                                </td>
                                <td>
                                    @if (item.Status == "New")
                                    {
                                        <span class="label label-info arrowed-in arrowed-in-right">New</span>
                                    }

                                    @if (item.Status == "Rejected")
                                    {
                                        <span class="label label-danger arrowed-in">@Resources.Resource.Rejected</span>
                                    }

                                    @if (item.Status == "Approve")
                                    {
                                        <span class="label label-success arrowed-in arrowed-in-right">@Resources.Resource.Approved</span>
                                    }

                                </td>

                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.requestId)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.requestTypeNameAr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.requestDetails)
                                </td>
                                <td>
                                    @if (item.Status == "New")
                                    {
                                        <span class="label label-info arrowed-in arrowed-in-right">New</span>
                                    }

                                    @if (item.Status == "Rejected")
                                    {
                                        <span class="label label-danger arrowed-in">@Resources.Resource.Rejected</span>
                                    }

                                    @if (item.Status == "Approve")
                                    {
                                        <span class="label label-success arrowed-in arrowed-in-right">@Resources.Resource.Approved</span>
                                    }

                                </td>

                            </tr>
                        }
                    </tbody>

                }
                
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.Requests</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>

<script>
    var Create = function () {

        var url = "/RequestsModule/EmployeeRequest/Create";

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>
