﻿@model hospitalErpDomainLayer.ManagementModel

<link href="~/assets/loading.css" rel="stylesheet" />
<div class="row">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="col-xs-12">
        <form id="myForm">
            <div class="">
                <input id="Mid" name="Mid" value="@Model.Mid" type="hidden" />
                <input id="OId" name="OId" value="@ViewBag.Organization" type="hidden" />
                <div class="form-group">
                    <label class="control-label">@Resources.Resource.NameArabic</label>
                    @Html.EditorFor(model => model.MNameAr, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label class="control-label">@Resources.Resource.NameEnglish</label>
                    @Html.EditorFor(model => model.MName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="form-group">
                    <label class="control-label">@Resources.Resource.Manager</label>
                    <select id="deptManager" name="deptManager" class="form-control">
                        @foreach (var item in ViewBag.Selection)
                        {
                            <option value="@item.empid">@item.NameEnglish - @item.CareerLevelEnglish</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">@Resources.Resource.NameVicManager</label>
                    <select id="deptVicManager" name="deptVicManager" class="form-control">
                        @foreach (var item in ViewBag.Selection)
                        {
                            <option value="@item.empid">@item.NameEnglish - @item.CareerLevelEnglish</option>
                        }
                    </select>
                </div>
               
                <div class="form-group">
                    <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                        @if (Model.Mid > 0)
                        {<span>@Resources.Resource.btnEdit</span> }
                        else
                        {<span>@Resources.Resource.btnSave</span>}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {
               
                MNameAr: "required",
                MName: "required",
          
                MNameAr: {
                    required: true,

                },
                MName: {
                    required: true,
                },
               
            },
            messages: {
                MNameAr: {
                    required: "Please enter Name",
                },
                MName: {
                    required: "Please enter Name",
                    
                },

               
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({

                    type: "POST",
                    url: "/SettingModule/Manage/UpdateCreate",
                    data: myformdata,
                    success: function () {

                        $("#myModal").modal("hide");
                        window.location.href = "/SettingModule/Manage/Index";
                    }

                })

            }
        });
    });
</script>
<script>
        jQuery(document).ready(function ($) {

            $("#deptManager,#deptVicManager").select2({
                dropdownAutoWidth: true,
                width: '100%'
            });
        });
</script>