﻿@model IEnumerable<hospitalErpDomainLayer.IncidentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidSubmitedComplaint</h3>
        <div class="table-header">
            ..
        </div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.HrtID
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OccurrenceDate)
                    </th>
                    <th>
                      @Resources.Resource.DiscoverDate
                    </th>
                    <th>
                       @Resources.Resource.ReportDate
                    </th>
                    <th>
                       @Resources.Resource.Stuts
                    </th>
                    <th>
                        @Resources.Resource.ComplainLocation
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncidentId)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.OccurrenceDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DiscoverDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.ReportDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <span class="label label-warning">@item.status</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LNameEn) @Html.DisplayFor(modelItem => item.LNameAr)
                        </td>
                        <td>
                            <a href="/IncidentModel/IncidentAssign/SubmitedIncident?Id=@item.IncidentId"class="btn btn-white btn-info">@Resources.Resource.Assign</a>
                            <button type="button" class="btn btn-white btn-info">@Resources.Resource.View</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
        });
    });
</script>
