﻿@model hospitalErpDomainLayer.IncidentViewModel
@using hospitalErpDomainLayer

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    List<ColseReport> reports = ViewBag.Reports;
     List<IncidentAssignViewModel> Inc = ViewBag.IncidentAssign;
      List<InvestigatorViewModel> Inve = ViewBag.Investigator;
}
<input id="IncidentId" name="IncidentId" type="hidden" value="@Model.IncidentId" />

<div class="row">
    <h3 class="header smaller lighter blue">@Resources.Resource.ComplainDetails</h3>

    <br />
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.HrtID </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="username"> @Model.IncidentId</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">@Resources.Resource.OccurrenceDate <i class="ace-icon fa fa-clock-o bigger-110"></i></div>

            <div class="profile-info-value">

                <span class="editable editable-click"> @Convert.ToDateTime(Model.DiscoverDate).ToString("dd/MM/yyyy")</span>

            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.DiscoverDate <i class="ace-icon fa fa-clock-o bigger-110"></i></div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="age">@Convert.ToDateTime(Model.DiscoverDate).ToString("dd/MM/yyyy") </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">  @Resources.Resource.ComplainLocation </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="signup"> @Model.LNameAr - @Model.LNameEn</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.ReportDate <i class="ace-icon fa fa-clock-o bigger-110"></i></div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="login">  @Convert.ToDateTime(Model.ReportDate).ToString("dd/MM/yyyy") </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">  @Resources.Resource.Description</div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="about"> @Model.Description</span>
            </div>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="col-sm-6">
            <h6 class="header smaller lighter blue">@Resources.Resource.Visitor</h6>
            <table id="dynamic-table" class="table table-striped">
                <tbody id="VisitorList">
                    <tr id="LoadingVisitor" style="color:red"></tr>
                </tbody>

            </table>
        </div>


        <div class="col-sm-6">
            <h6 class="header smaller lighter blue">@Resources.Resource.Staff</h6>

            <table id="table-staff" class="table table-striped">
                <tbody id="StaffList">
                    <tr id="LoadingStaff" style="color:red"></tr>
                </tbody>

            </table>

        </div>

    </div>


    <div class="col-xs-12">

        <div class="col-sm-12">
            <h6 class="header smaller lighter blue">@Resources.Resource.investigate</h6>
            <table id="dynamic-table" class="table table-striped">

                <tbody>
                    @{

                        foreach (var item in Inc)
                        {
                            <tr>
                                <td>
                                    @Resources.Resource.investigator :  @item.investigatorEmpIdNameEn - @item.investigatorEmpIdNameAr
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resource.Comment  : @item.Comment
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resource.AssignedBy  : @item.CreateByEn - @item.CreateByAr
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resource.DepartmentResponsible  : @item.assDeptResDeptNameEn - @item.assDeptResDeptNameAr
                                </td>
                            </tr>
                        }

                    }

                </tbody>

            </table>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="col-sm-12">
            @*<h6 class="header smaller lighter blue">@Resources.Resource.investigate</h6>*@
            <table id="dynamic-table" class="table table-striped">

                <tbody>
                    @{

                        foreach (var item in Inve)
                        {
                            <tr>
                                <td>
                                    @Resources.Resource.ContributingFactors :  @item.CFNameEn - @item.CFNameAr
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resource.Actions : @item.Actions
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.Resource.Comment  : @item.Recement
                                </td>
                            </tr>

                        }

                    }

                </tbody>

            </table>
        </div>
    </div>
    @if (Resources.Resource.NameArabic == "Arabic Name")
    {
        <div class="col-xs-12">

            <div class="col-sm-12">
                <h6 class="header smaller lighter blue">Risk Reports</h6>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>

                            <th>RiskProbability</th>
                            <th class="hidden-xs">RiskSeventy</th>
                            <th class="hidden-480">Risk Rating</th>
                            <th>Harm Degree</th>
                            <th>Comment</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in reports)
                        {
                            <tr>

                                <td>
                                    @item.NameRiskProbabilityEn
                                </td>
                                <td>
                                    @item.NameRiskSeventyEn
                                </td>
                                <td>
                                    @item.RiskRating
                                </td>
                                <td>
                                    @item.DegreeHarmNameEn
                                </td>
                                <td>
                                    @item.Comment
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    }
    else
    {
        <div class="col-xs-12">

            <div class="col-sm-12">
                <h6 class="header smaller lighter blue">تقرير المخاطر</h6>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>

                            <th>أحتمالية المخاطر</th>
                            <th class="hidden-xs">شددة المخاطر</th>
                            <th class="hidden-480">معد المخاطر</th>
                            <th>درجة التلف</th>
                            <th>التعليقات</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in reports)
                        {
                            <tr>

                                <td>
                                    @item.NameRiskProbabilityAR
                                </td>
                                <td>
                                    @item.NameRiskSeventyAR
                                </td>
                                <td>
                                    @item.RiskRating
                                </td>
                                <td>
                                    @item.DegreeHarmNameAr
                                </td>
                                <td>
                                    @item.Comment
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        var IncidentId = $('#IncidentId').val();
     GetVisitor();
     GetStaff();

});
    //Visitor
    function GetVisitor() { $.ajax({ url: "/IncidentModel/IncidentForEmployee/GetVisitor?Id=" +@Model.IncidentId,type: 'GET', success: function (res) { VisitorDataBinding(res); } });};
    function VisitorDataBinding(res) {
        var SetData = $("#VisitorList");
        for (var i = 0; i < res.length; i++) {
            var Data = "<tr class='row_" + res[i].Vid + "'>" +
                "<td>" + res[i].Vid + "</td>" +
                "<td>" + res[i].VName + "</td>" +
                "<td>" + res[i].VAddress + "</td>" +
                "<td>" + res[i].VPhone + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingVisitor").html(" ");
        }
    };
    var DeleteVisitorRows = function () { var table = document.getElementById("dynamic-table"); while (table.rows.length > 1) { table.deleteRow(1); }};
    var DeleteVisitor = function (id) {
        $.ajax({
            type: "POST",
            url: "/IncidentModel/IncidentForEmployee/DeleteVisitor?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteVisitorRows();
                GetVisitor();
            }
        });
    };
    //Staff
    function GetStaff() { $.ajax({ url: "/IncidentModel/IncidentForEmployee/GetStaff?Id=" +@Model.IncidentId,type: 'GET', success: function (res) { staffDataBinding(res); } }); };
    function staffDataBinding(res) {
        var SetData = $("#StaffList");
        for (var i = 0; i < res.length; i++) {
            var Data = "<tr class='row_" + res[i].AffectedId + "'>" +
                "<td>" + res[i].AffectedId + "</td>" +
                "<td>" + res[i].empNameEn +" - "+res[i].empNameAr + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStaff").html(" ");


        }
    };
    var DeleteStaffRows = function () { var table = document.getElementById("table-staff"); while (table.rows.length > 1) { table.deleteRow(1); } };
    var DeleteStaff = function (id) {
        $.ajax({
            type: "POST",
            url: "/IncidentModel/IncidentForEmployee/DeleteStaff?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteStaffRows();
                GetStaff();
            }
        });
    };

     function Assigned(id) {
         $.get("/IncidentModel/AnalystToClose/Assigned?IncidentId=" + id, function (data, status) {
             debugger
                for (var i = 0; i < data.length; i++) {
                    $('#BrandId').append('<option value="' + data[i].BrandId + '">' + data[i].BrandNameEn + '-' + data[i].BrandNameAr + '</option>');
                }
            });
        };


</script>