﻿@model hospitalErpDomainLayer.IncidentAnalystToCloseModel
@using hospitalErpDomainLayer
@{
    ViewBag.Title = "IncidentClose";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidAnalystToClose</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">

                    </div>
                </div>
            </div>
        </div>
        <!-- Start Incident Details-->
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">@Resources.Resource.ComplainDetails</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-8">

                                <table class="table table-striped ">
                                    <tbody>

                                        <tr>

                                            <td>
                                                @Resources.Resource.HrtID  :  @ViewBag.IncidentId
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.Resource.DiscoverDate  : @Convert.ToDateTime(ViewBag.DiscoverDate).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                @Resources.Resource.ReportDate  : @Convert.ToDateTime(ViewBag.ReportDate).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.Resource.OccurrenceDate  : @Convert.ToDateTime(ViewBag.OccurrenceDate).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.Resource.Description  : @ViewBag.Description
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                @Resources.Resource.ComplainLocation  :  @ViewBag.Name
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                            <div class="col-xs-4">
                                @{

                                    List<IncidentAffectedVisitorModel> modelVisitor = ViewBag.affectVisitors;
                                    List<IncidentAffectedStaffViewModel> modelStaff = ViewBag.affectStaff;
                                    if (modelStaff.Count > 0)
                                    {
                                        <div class="well well-sm"> @Resources.Resource.AffectedByStaff </div>
                                        <table class="table table-striped ">
                                            <tbody>
                                                @foreach (var item in modelStaff)
                                                {
                                                    <tr>

                                                        <td class="hidden-xs">
                                                            @item.empNameEn
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                    if (modelVisitor.Count > 0)
                                    {
                                        <div class="well well-sm"> @Resources.Resource.AffectedByVisitors </div>
                                        <table class="table table-striped">
                                            <tbody>
                                                @foreach (var item in modelVisitor)
                                                {
                                                    <tr>
                                                        <td> @item.VName</td>
                                                        <td> @item.VPhone </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }


                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Incident Details-->
        <!-- Start Incident Assing-->
        <div class="col-xs-6">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">@Resources.Resource.AssignedComplain</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">
                                @{
                                    List<InvestigatorModel> Investigator = ViewBag.Investigator;

                                    List<IncidentAssignViewModel>
                                        AssingList = ViewBag.assing;

                                    <table class="table table-striped ">
                                        <tbody>
                                            @foreach (var item in AssingList)
                                            {
                                                <tr>
                                                    <td>
                                                        @Resources.Resource.DepartmentResponsible:  @item.assDeptResDeptNameEn - @item.assDeptResDeptNameAr
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Resources.Resource.Departmentinvestigation:  @item.IncidentDeptNameEn - @item.IncidentDeptNameAr
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Resources.Resource.investigator:  @item.investigatorEmpIdNameEn - @item.investigatorEmpIdNameAr
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Resources.Resource.Comment:  @item.Comment
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Resources.Resource.ComplainType:  @item.IMTNameEn - @item.IMTNameAr
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td>
                                                        Sub Type:  @item.ISTNameEn - @item.IMTNameAr
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>


                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">@Resources.Resource.investigator</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">
                                @{

                                    <table class="table table-striped ">
                                        <tbody>
                                            @foreach (var item in Investigator)
                                            {
                                                <tr>
                                                    <td>
                                                        @Resources.Resource.InvestigationDate:  @item.InvestigationDate
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Resources.Resource.Actions:  @item.Actions
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        @Resources.Resource.Recement:  @item.Recement
                                                    </td>
                                                </tr>

                                            }

                                        </tbody>
                                    </table>


                                }
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Incident Assing-->
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">@Resources.Resource.SidAnalystToClose</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">

                            @using (Html.BeginForm())
                            {
                                @Html.HiddenFor(model => model.ARId)
                                @Html.HiddenFor(model => model.IncidentId)


                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="inline">
                                            @Html.CheckBoxFor(model => model.Near, false)
                                            <span class="lbl"> Near </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="inline">
                                            @Html.CheckBoxFor(model => model.Valid, false)
                                            <span class="lbl"> Valid </span>
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="inline">
                                            @Html.CheckBoxFor(model => model.SentinelEvent, false)
                                            <span class="lbl"> Sentinel Event </span>
                                        </label>
                                    </div>
                                </div>

                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="inline">
                                                    @Html.CheckBoxFor(model => model.Miss, false)
                                                    <span class="lbl"> Miss </span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <label class="inline">
                                                    @Html.CheckBoxFor(model => model.DOfUE_O, false)
                                                    <span class="lbl"> DOfUE_O </span>
                                                </label>
                                            </div>
                                        </div>


                                        <div class="col-xs-4">

                                            <div class="form-group">
                                              <label>@Resources.Resource.RiskProbability</label>
                                                <select id="RPMId" name="RPMId" class="chosen-select form-control" required>
                                                    @foreach (var item in ViewBag.RiskProbability)
                                                    {
                                                        <option value="@item.RPMId">@item.RPMINameEn - @item.RPMNameAr</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-xs-4">
                                            <div class="form-group">
                                               <label>@Resources.Resource.RiskSeventy</label>
                                                <select id="RSSId" name="RSSId" class="chosen-select form-control" required>
                                                  
                                                </select>
                                            </div>
                                        </div>


                                        <div class="col-xs-4">
                                            <div class="form-group">
                                             <label>@Resources.Resource.HarmOfDegree</label>
                                                <select id="DHId" name="DHId" class="chosen-select form-control" required>
                                                    @foreach (var item in ViewBag.Harm)
                                                    {
                                                        <option value="@item.DHId">@item.DHNameEn - @item.DHNameAr</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                               <label>@Resources.Resource.Comment</label>
                                                @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-xs-12">

                                            <div class="form-group">

                                                <input type="submit" value=" @Resources.Resource.btnClose" class="btn btn-primary" />

                                            </div>

                                        </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    window.onload = function (e) { GetSubType(); };

    $(document).ready(function () {
      
        $("#RPMId").change(function () {
            var RPMId = $("#RPMId").val();

            $.ajax({
                type: "Post",
                url: "/IncidentModel/AnalystToClose/RiskSeventy?MId=" + RPMId,
                contentType: "html",
                success: function (res) {
                    GetMainTypeJson(res);
                }
            })
        });
    });

    // Onlode
   
    var GetSubType = function () {
        var RPMId = $("#RPMId").val();
        $.ajax({
            type: "Post",
            url: "/IncidentModel/AnalystToClose/RiskSeventy?MId=" + RPMId,
            contentType: "html",
            success: function (res) {
                GetMainTypeJson(res);
            }
        });
    };

  
    function GetMainTypeJson(res) {
        $('#RSSId').children().remove().end()
        for (var i = 0; i < res.length; i++) {
            $('#RSSId').append('<option value="' + res[i].RSSId + '">' + res[i].RSSNameEn + " - " + res[i].RSSNameAr+'</option>');
        }
    };

</script>