﻿@model IEnumerable<hospitalErpDomainLayer.AnalystToCloseViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidAnalystToClose</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                     
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.HrtID
                    </th>
                    <th>
                        @Resources.Resource.OccurrenceDate
                    </th>
                    <th>
                       @Resources.Resource.DiscoverDate
                    </th>
                    <th>
                       @Resources.Resource.ReportDate
                    </th>
                    
                    <th>
                        @Resources.Resource.Stuts
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncidentId)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.OccurrenceDate).ToString("dd/MM/yyyy")
                          
                        </td>
                        <td>
                           
                            @Convert.ToDateTime(item.DiscoverDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                          
                            @Convert.ToDateTime(item.ReportDate).ToString("dd/MM/yyyy")
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                    
                        <td>
                            <a href="/IncidentModel/AnalystToClose/IncidentClose?IncidentId=@item.IncidentId" class="btn btn-white btn-info"> @Resources.Resource.btnView</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
        });
    });
</script>