﻿
@font-face {
    font-family: myFirstFont;
    src: url(../assets/WEBFont/DroidKufi-Regular.ttf);
}

@font-face {
    font-family: myFirstFont;
    src: url(../assets/WEBFont/DroidKufi-Bold.ttf);
    font-weight: bold;
}

*{
    font-family: myFirstFont;
}


.header {
    font-family: myFirstFont;
}

.modal-title {
    font-family: myFirstFont;
}