﻿
@font-face {
    font-family: myFirstFontEn;
    src: url(../assets/WEBFont/Lato-Black.ttf);
}

@font-face {
    font-family: myFirstFontEn;
    src: url(../assets/WEBFont/Lato-Bold.ttf);
    font-weight: bold;
}

* {
    font-family: myFirstFontEn;
}


.header {
    font-family: myFirstFontEn;
}

.modal-title {
    font-family: myFirstFontEn;
}