﻿@model hospitalErpDomainLayer.IncidentViewModel
<link href="~/assets/loading.css" rel="stylesheet" />
@{
    ViewBag.Title = "IncidentAddDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    TextArea {
        width: 100%;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SIdMyComplain</h3>
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">@Resources.Resource.ComplainDetails</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>@Resources.Resource.HrtID</label>
                                <label class="form-control">@Model.IncidentId</label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>@Resources.Resource.OccurrenceDate</label>
                                <label class="form-control">@Convert.ToDateTime(Model.DiscoverDate).ToString("dd/MM/yyyy")</label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>@Resources.Resource.DiscoverDate</label>
                                <label class="form-control"> @Convert.ToDateTime(Model.DiscoverDate).ToString("dd/MM/yyyy")</label>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label>@Resources.Resource.ReportDate</label>
                                <label class="form-control">@Convert.ToDateTime(Model.ReportDate).ToString("dd/MM/yyyy")</label>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>@Resources.Resource.ComplainLocation</label>
                                <label class="form-control">@Model.LNameAr - @Model.LNameEn</label>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>@Resources.Resource.Description</label>
                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                            </div>
                        </div>
                    </div>
                </div><!-- /.widget-main -->
            </div><!-- /.widget-body -->
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="col-xs-12">

        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">
                    @Resources.Resource.AffectedStaff
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-6">
                            <table id="table-staff" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@Resources.Resource.HrtID</th>
                                        <th>@Resources.Resource.LEmployName</th>
                                        <th>@Resources.Resource.Delete</th>

                                    </tr>
                                </thead>
                                <tbody id="StaffList">
                                    <tr id="LoadingStaff" style="color:red"></tr>
                                </tbody>

                            </table>
                           
                        </div>
                        <div class="col-xs-6">
                            <form id="Staff">

                                <div class="form-group">
                                    <input type="hidden" id="IncidentId" value="@Model.IncidentId" name="IncidentId" />
                                </div>

                                <div class="form-group">
                                    <label class="control-label">@Resources.Resource.Manager</label>
                                    <select id="empId" name="empId" class="chosen-select form-control" required>
                                        @foreach (var item in ViewBag.EmpList)
                                        {
                                            <option value="@item.empid">@item.NameEnglish- @item.NameArabic</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="btnSubmitStaff" class="btn btn-primary btn-block">
                                        <span>@Resources.Resource.btnSave</span>
                                    </button>
                                </div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col-xs-12">

        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">
                    @Resources.Resource.AffectedVisitor 
                </h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-xs-6">
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>@Resources.Resource.HrtID</th>
                                        <th>@Resources.Resource.Name</th>
                                        <th>@Resources.Resource.Address</th>
                                        <th>@Resources.Resource.Phone</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody id="VisitorList">
                                    <tr id="LoadingVisitor" style="color:red"></tr>
                                </tbody>

                            </table>

                        </div>
                        <div class="col-xs-6">
                            <form id="Visitor">

                                <div class="form-group">
                                    <input type="hidden"  id="IncidentId" value="@Model.IncidentId" name="IncidentId"/>
                                </div>

                                <div class="form-group">
                                    <label>@Resources.Resource.Name</label>
                                    <input type="text" class="form-control" id="VName" name="VName" />
                                </div>

                                <div class="form-group">
                                    <label>@Resources.Resource.Address</label>
                                    <input type="text" class="form-control" id="VAddress" name="VAddress" />
                                </div>

                                <div class="form-group">
                                    <label>@Resources.Resource.Phone</label>
                                    <input type="text" class="form-control" id="VPhone" name="VPhone" />
                                </div>

                                <div class="form-group">
                                    <button type="submit" id="btnSubmitVisitor" class="btn btn-primary btn-block">
                                        <span>@Resources.Resource.btnSave</span>
                                    </button>
                                </div>


                            </form>
                          
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class=" tableTools-container">
                                <a href="/IncidentModel/IncidentForEmployee/submitIncident?Id=@Model.IncidentId" class="btn btn-info">@Resources.Resource.Submit</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $("#btnSubmitStaff").click(function () {
        $("#Staff").validate({
            rules: {

                VName: "required",
                VAddress: "required",
                VPhone: "required",
                VName: {
                    required: true,

                },

                VAddress: {
                    required: true,

                },
                VPhone: {
                    required: true,

                },

            },
            messages: {
                VName: {
                    required: "Please enter Name",
                },
                VAddress: {
                    required: "Please enter Address",
                },
                VPhone: {
                    required: "Please enter Phone",
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#Staff").serialize();
                $.ajax({

                    type: "POST",
                    url: "/IncidentModel/IncidentForEmployee/AddStaff",
                    data: myformdata,
                    success: function () {
                        DeleteStaffRows();
                        GetStaff();
                        $("#loading").hide();

                    }

                })

            }
        });
    });
</script>
<script>
    $("#btnSubmitVisitor").click(function () {
        $("#Visitor").validate({
            rules: {

                VName: "required",
                VAddress: "required",
                VPhone: "required",
                VName: {
                    required: true,

                },

                VAddress: {
                    required: true,

                },
                VPhone: {
                    required: true,

                },

            },
            messages: {
                VName: {
                    required: "Please enter Name",
                },
                VAddress: {
                    required: "Please enter Address",
                },
                VPhone: {
                    required: "Please enter Phone",
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#Visitor").serialize();
                $.ajax({

                    type: "POST",
                    url: "/IncidentModel/IncidentForEmployee/AddVisitor",
                    data: myformdata,
                    success: function () {
                        DeleteVisitorRows();
                        GetVisitor();
                        $("#loading").hide();
                        $('#Visitor')[0].reset();
                    }

                })

            }
        });
    });
</script>
<script>
    window.onload = function (e) { GetVisitor(); GetStaff();};
    //Visitor
    function GetVisitor() { $.ajax({ url: "/IncidentModel/IncidentForEmployee/GetVisitor?Id=" +@Model.IncidentId,type: 'GET', success: function (res) { VisitorDataBinding(res); } });};
    function VisitorDataBinding(res) {
        var SetData = $("#VisitorList");
        for (var i = 0; i < res.length; i++) {
            var Data = "<tr class='row_" + res[i].Vid + "'>" +
                "<td>" + res[i].Vid + "</td>" +
                "<td>" + res[i].VName + "</td>" +
                "<td>" + res[i].VAddress + "</td>" +
                "<td>" + res[i].VPhone + "</td>" +
                "<td>" + "<a href='#'  onclick='DeleteVisitor(" + res[i].Vid + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingVisitor").html(" ");
        }
    };
    var DeleteVisitorRows = function () { var table = document.getElementById("dynamic-table"); while (table.rows.length > 1) { table.deleteRow(1); }};

    var DeleteVisitor = function (id) {
        $.ajax({
            type: "POST",
            url: "/IncidentModel/IncidentForEmployee/DeleteVisitor?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteVisitorRows();
                GetVisitor();
            }
        });
    };


    //Staff
    function GetStaff() { $.ajax({ url: "/IncidentModel/IncidentForEmployee/GetStaff?Id=" +@Model.IncidentId,type: 'GET', success: function (res) { staffDataBinding(res); } }); };
    function staffDataBinding(res) {
        var SetData = $("#StaffList");
        for (var i = 0; i < res.length; i++) {
            var Data = "<tr class='row_" + res[i].AffectedId + "'>" +
                "<td>" + res[i].AffectedId + "</td>" +
                "<td>" + res[i].empNameEn + "</td>" +
                "<td>" + "<a href='#'  onclick='DeleteStaff(" + res[i].AffectedId + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStaff").html(" ");


        }
    };
    var DeleteStaffRows = function () { var table = document.getElementById("table-staff"); while (table.rows.length > 1) { table.deleteRow(1); } };



    var DeleteStaff = function (id) {
        $.ajax({
            type: "POST",
            url: "/IncidentModel/IncidentForEmployee/DeleteStaff?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteStaffRows();
                GetStaff();
            }
        });
    };

</script>