﻿
@model hospitalErpDomainLayer.IncidentsModel
@{
    ViewBag.Title = "MyIncidention";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        width: 100%
    }
</style>
@using (Html.BeginForm("MyIncidention", "IncidentForEmployee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">@Resources.Resource.SIdMyComplain</h3>
            <div class="widget-box">
                <div class="widget-header widget-header-blue widget-header-flat">
                    <h4 class="widget-title lighter">@Resources.Resource.ComplainDetails</h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label>@Resources.Resource.OccurrenceDate</label>
                                    @Html.EditorFor(model => model.OccurrenceDate, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.OccurrenceDate, "", new { @class = "text-danger" })
                                </div>


                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">

                                    <label>@Resources.Resource.DiscoverDate</label>
                                    @Html.EditorFor(model => model.DiscoverDate, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DiscoverDate, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-xs-4">

                                <div class="form-group">
                                    <label>@Resources.Resource.ComplainLocation</label>
                                    <select id="LId" name="LId" class="chosen-select form-control" required>

                                        @foreach (var item in ViewBag.Location)
                                        {
                                            <option value="@item.LId">@item.LNEn - @item.LNAr</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label class="inline">
                                        @Html.CheckBoxFor(model => model.HideMyName, false)
                                        <span class="lbl"> @Resources.Resource.HideMyName</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">

                                    <label class="inline">

                                        @Html.CheckBoxFor(model => model.SelfReporting, false)
                                        <span class="lbl"> @Resources.Resource.SelfReporting</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label> @Resources.Resource.Attachments</label>
                                <input type="file" name="ImagesFile" id="ImagesFile" />
                            </div>
                            <div class="col-xs-6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" id="btnSubmit" value=" @Resources.Resource.LCreate" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div>


        </div>
    </div>
}



<script>
    $(document).ready(function () {

        $("#DiscoverDate,#OccurrenceDate").datepicker({
            format: 'dd/mm/yyyy'

        });
    });
</script>
