﻿@model hospitalErpDomainLayer.IncidentViewModel
<link href="~/assets/loading.css" rel="stylesheet" />
@{
    ViewBag.Title = "IncidentAddDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    TextArea {
        width: 100%;
    }

    .profile-info-name {
        text-align: right;
        padding: 6px 10px 6px 4px;
        font-weight: 400;
        color: #667E99;
        background-color: transparent;
        width: 150px;
        vertical-align: middle;
    }
</style>
<div class="row">
    <h3 class="header smaller lighter blue">@Resources.Resource.ComplainDetails</h3>

    <br />
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.HrtID </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="username"> @Model.IncidentId</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">@Resources.Resource.OccurrenceDate <i class="ace-icon fa fa-clock-o bigger-110"></i></div>

            <div class="profile-info-value">

                <span class="editable editable-click"> @Convert.ToDateTime(Model.DiscoverDate).ToString("dd/MM/yyyy")</span>

            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.DiscoverDate <i class="ace-icon fa fa-clock-o bigger-110"></i></div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="age">@Convert.ToDateTime(Model.DiscoverDate).ToString("dd/MM/yyyy") </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">  @Resources.Resource.ComplainLocation </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="signup"> @Model.LNameAr - @Model.LNameEn</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.ReportDate <i class="ace-icon fa fa-clock-o bigger-110"></i></div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="login">  @Convert.ToDateTime(Model.ReportDate).ToString("dd/MM/yyyy") </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">  @Resources.Resource.Description</div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="about"> @Model.Description</span>
            </div>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="col-sm-6">
            <h6 class="header smaller lighter blue">@Resources.Resource.Visitor</h6>
            <table id="dynamic-table" class="table table-striped">
                @*<thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>#</th>
                    </tr>
                </thead>*@
                <tbody id="VisitorList">
                    <tr id="LoadingVisitor" style="color:red"></tr>
                </tbody>

            </table>
        </div>
        
        
        <div class="col-sm-6">
            <h6 class="header smaller lighter blue">@Resources.Resource.Staff</h6>
           
            <table id="table-staff" class="table table-striped">
                @*<thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>*@
                <tbody id="StaffList">
                    <tr id="LoadingStaff" style="color:red"></tr>
                </tbody>

            </table>

        </div>

    </div>

</div>

<script>
    window.onload = function (e) { GetVisitor(); GetStaff();};
    //Visitor
    function GetVisitor() { $.ajax({ url: "/IncidentModel/IncidentForEmployee/GetVisitor?Id=" +@Model.IncidentId,type: 'GET', success: function (res) { VisitorDataBinding(res); } });};
    function VisitorDataBinding(res) {
        var SetData = $("#VisitorList");
        for (var i = 0; i < res.length; i++) {
            var Data = "<tr class='row_" + res[i].Vid + "'>" +
                "<td>" + res[i].Vid + "</td>" +
                "<td>" + res[i].VName + "</td>" +
                "<td>" + res[i].VAddress + "</td>" +
                "<td>" + res[i].VPhone + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingVisitor").html(" ");
        }
    };
    var DeleteVisitorRows = function () { var table = document.getElementById("dynamic-table"); while (table.rows.length > 1) { table.deleteRow(1); }};

    var DeleteVisitor = function (id) {
        $.ajax({
            type: "POST",
            url: "/IncidentModel/IncidentForEmployee/DeleteVisitor?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteVisitorRows();
                GetVisitor();
            }
        });
    };


    //Staff
    function GetStaff() { $.ajax({ url: "/IncidentModel/IncidentForEmployee/GetStaff?Id=" +@Model.IncidentId,type: 'GET', success: function (res) { staffDataBinding(res); } }); };
    function staffDataBinding(res) {
        var SetData = $("#StaffList");
        for (var i = 0; i < res.length; i++) {
            var Data = "<tr class='row_" + res[i].AffectedId + "'>" +
                "<td>" + res[i].AffectedId + "</td>" +
                "<td>" + res[i].empNameEn +" - "+res[i].empNameAr + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStaff").html(" ");


        }
    };
    var DeleteStaffRows = function () { var table = document.getElementById("table-staff"); while (table.rows.length > 1) { table.deleteRow(1); } };



    var DeleteStaff = function (id) {
        $.ajax({
            type: "POST",
            url: "/IncidentModel/IncidentForEmployee/DeleteStaff?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteStaffRows();
                GetStaff();
            }
        });
    };

</script>