﻿
@*<script>
   $("#LoadingLicense").html("Loading....");

    //show

    //not show

  

    var reLoding = function () {
                $.ajax({
            url: "/HrModule/EmployeeData/GetLicenseEmp?id=" +@ViewBag.empid,
            type: 'GET',
            success: function (res) {
                DataBind(res);
            }
        });
    };
    //strat Add

//End
</script>
<script>
    $(document).ready(function () {


    });
</script>*@
