﻿@model hospitalErpDomainLayer.IncidentDegreeOfHarmModel
<form id="myForm">
    <div class="row">
        <div class="col-xs-12">

            @Html.HiddenFor(model => model.DHId)
            @Html.HiddenFor(model => model.OId)

            <div class="form-group">
                <label>Arabic Harm Degree </label>
                @Html.EditorFor(model => model.DHNameAr, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label>English Harm Degree </label>
                @Html.EditorFor(model => model.DHNameEn, new { htmlAttributes = new { @class = "form-control" } })

            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.DHId > 0)
                    {<span>@Resources.Resource.btnEdit</span> }
                    else
                    {<span>@Resources.Resource.btnSave</span>}
                </button>
            </div>
        </div>
    </div>
</form>
<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                DHNameAr: "required",
                DHNameEn: "required",
                DHNameAr: {
                    required: true,

                },

                DHNameEn: {
                    required: true,

                },

            },
            messages: {
                DHNameAr: {
                    required: "Please enter Name",
                },
                DHNameEn: {
                    required: "Please enter Name",

                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({

                    type: "POST",
                    url: "/IncidentModel/IncidentDegreeOfHarms/AddEdit",
                    data: myformdata,
                    success: function () {

                        $("#myModal").modal("hide");

                        window.location.href = "/IncidentModel/IncidentDegreeOfHarms/Index";
                    }

                })

            }
        });
    });
</script>