﻿@model IEnumerable<hospitalErpDomainLayer.MaintenanceHandViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue"> @Resources.Resource.SidReceivedRequest</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">

                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>

                   
                    <th>
                       @Resources.Resource.AsName
                    </th>

                    <th>
                        @Resources.Resource.OrderSDate
                    </th>
                    <th>
                        @Resources.Resource.MaintenanceStartDate
                    </th>

                    <th>
                        @Resources.Resource.MainteAspirat
                    </th>
                    <th>
                        @Resources.Resource.LEmployName

                    </th>


                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                       
                        <td>
                            @Html.DisplayFor(modelItem => item.asstesName)
                        </td>

                        <td>

                            @Convert.ToDateTime(item.OrderMaintenanceDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>

                            @Convert.ToDateTime(item.MaintenanceStartDate).ToString("dd/MM/yyyy")
                        </td>

                        <td>

                            <span style="color:blue;font-weight:bold;" class="" data-rel="popover" title="Maintenance Info" data-content="Maintenance: @item.MaintenanceDetails"><a href="#">@Resources.Resource.more</a></span>
                            |
                            <span style="color:blue;font-weight:bold;" class="" data-rel="popover" title="Aspirat Info" data-content="Aspirat: @item.AspiratDetails"><a href="#">@Resources.Resource.more</a></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderMaintenanceEmployeeEn)
                        </td>

                        <td>
                            @if (item.MStuts == "New")
                            {
                                <a href="#" style="font-size:15px" title="purchase Request" onclick="purchase(@item.id)"> <i class="ace-icon fa fa-pencil-square-o"></i></a>
                                <a href="/MaintenanceModule/MaintenanceHand/complete?Id=@item.id" style="font-size:15px" title="Maintenance complete"> <i style="color:green" class="ace-icon glyphicon glyphicon-ok"></i></a>
                            }
                            else if (item.MStuts == "In Maintenance Department")
                            {
                                <a href="/MaintenanceModule/MaintenanceHand/complete?Id=@item.id" style="font-size:15px" title="Maintenance complete" onclick="Done(@item.id)"> <i style="color:green" class="ace-icon glyphicon glyphicon-ok"></i></a>
                            }
                            else if (item.MStuts == "Completed")
                            {
                                <label class="label label-sm label-success arrowed arrowed-righ">@Resources.Resource.Completed</label>
                            }
                            else
                            {
                                <label class="label label-sm label-info arrowed arrowed-righ">@item.MStuts</label>
                            }

                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myModalPurchase">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.purchaseandInvoiceDetails</h3>
                </div>
                <div class="modal-body" id="myModalBodyDivPurchase">

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModalDone">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title"> @Resources.Resource.Completedmaintenance</h3>
                </div>
                <div class="modal-body" id="myModalBodyDone">

                </div>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>

<script>
    var purchase = function (id) {
        var url = "/MaintenanceModule/MaintenanceHand/purchaseAssets?Id=" + id;
        $("#myModalBodyDivPurchase").load(url, function () {
            $("#myModalPurchase").modal("show");
        })
    }
</script>


<script>
    var Done = function (id) {
        //var url = "/MaintenanceModule/MaintenanceHand/purchaseAssets?Id=" + id;
        $("#myModalBodyDone").load(url, function () {
            $("#myModalDone").modal("show");
        })
    }
</script>

<script>
    $('[data-rel=popover]').popover({ html: true });
</script>