﻿@model List<hospitalErpDomainLayer.MaintenanceDetailsModel>

@{
    ViewBag.Title = "AsstesMaintenancedetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="Details">
    <div class="col-xs-12">

        <h3 class="header smaller lighter blue">@Resources.Resource.AsstesMaintenanceDetails</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a id="basic" onclick="print()" href="#" class="btn btn-primary">@Resources.Resource.Print</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Resource.HrtID</div>
                <div class="profile-info-value">
                    <span class="editable editable-click" id="about">@ViewBag.asstes.id</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.AsName </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="username">@ViewBag.asstes.AsName</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.Description </div>

                <div class="profile-info-value">

                    <span class="editable editable-click" id="country">@ViewBag.asstes.AsDescription </span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> Type </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="age">@ViewBag.asstes.AssetTypeNameEnglish - @ViewBag.asstes.AssetTypeNameArabic</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.PurchaseDate</div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="signup">@Convert.ToDateTime(ViewBag.asstes.PurchaseDate).ToString("dd/MM/yyyy") </span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.AsPrice </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="login">@ViewBag.asstes.AsPrice </span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.Warranty </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="login">@Convert.ToDateTime(ViewBag.asstes.AsWarrantyPeriodDate).ToString("dd/MM/yyyy")  </span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name">@Resources.Resource.MaintenanceContract </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="about">
                        @{string Periodic = " Periodic Maintenance - دورية";

                            string Depends = "Depends on the Reques - حسب الطلب";
                        }
                        @if (ViewBag.asstes.AsMaintenanceType == 1)
                        {
                            <span>@Periodic</span>
                        }
                        else
                        {
                            <span>@Depends</span>

                        }
                       
                    </span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.Attachments </div>

                <div class="profile-info-value">
                    <span class="editable editable-click" id="login"><a title="Warranty" target="_blank" href="@ViewBag.asstes.AsWarrantyImage">@Resources.Resource.Warranty <i class="ace-icon fa fa-arrow-circle-o-down"></i></a>  - <a target="_blank" href="@ViewBag.asstes.ASBill">@Resources.Resource.Bill <i class="ace-icon fa fa-arrow-circle-o-down"></i></a>   -   <a target="_blank" href="@ViewBag.asstes.ASMaintenanceContract">@Resources.Resource.MaintenanceContract <i class="ace-icon fa fa-arrow-circle-o-down"></i></a> - <a target="_blank" href="@ViewBag.asstes.AsInstructionManual">@Resources.Resource.instructionmanual <i class="ace-icon fa fa-arrow-circle-o-down"></i></a> </span>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="col-xs-12">
        <div class="search-results">
            @foreach (var item in Model)
        {
                <div class="search-result">
                    <h5 class="search-title">
                        <a href="#">@Resources.Resource.OrderSDate : @Convert.ToDateTime(item.OMaintenanceOrderDate).ToString("dd/MM/yyyy") -  Request Stuts: @item.OrderStuts</a>
                    </h5>
                    <a class="text-success" href="#"></a>

                    <div class="search-content">
                        <p> <b>@Resources.Resource.MaintenanceDetails :</b>@item.MaintenanceDetails</p>
                        <p> <b>@Resources.Resource.AspiratDetails:</b>@item.AspiratDetails</p>
                        <p> <b>@Resources.Resource.Nots:</b>@item.Nots</p>


                    </div>
                </div>
        }

        </div>
    </div>
</div>


<script src="~/assets/printThis.js"></script>

<script>
    var print = function () {
     
        $("#Details").printThis({

            debug: true,               // show the iframe for debugging
            importCSS: true,            // import parent page css
            importStyle: true,         // import style tags
            printContainer: true,       // print outer container/$.selector
            loadCSS: "",                // path to additional css file - use an array [] for multiple
            pageTitle: "Assetes",              // add title to print page
            removeInline: true,        // remove inline styles from print elements
            removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
            printDelay: 333,            // variable print delay
            header: "<h1>Assetes</h1>",               // prefix to html
            footer: null,               // postfix to html
            base: false,                // preserve the BASE tag or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: false,              // copy canvas content
            doctypeString: false,       // enter a different doctype for older markup
            removeScripts: true,       // remove script tags from print content
            copyTagClasses: false,      // copy classes from the html & body tag
            beforePrintEvent: null,     // function for printEvent in iframe
            beforePrint: null,          // function called before iframe is filled
            afterPrint: null            // function called before iframe is removed
        });
    }
    
</script>

