﻿@model IEnumerable<hospitalErpDomainLayer.MaintenOrderViewModel>
@{
    ViewBag.Title = "DepartmentMaintenanceOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .popover {
       
        border: none;
        border-radius: unset;
        min-width: 100px;
        width: 100%;
        max-width: 400px;
        overflow-wrap: break-word;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.MaintenanceDepartmentRequest</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                       @Resources.Resource.AsName
                    </th>
                    <th>
                        @Resources.Resource.OrderStuts
                    </th>
                    <th>
                       @Resources.Resource.OrderNotes
                    </th>
                    <th>
                       @Resources.Resource.LEmployName
                    </th>

                    <th>
                       @Resources.Resource.OrderSDate
                    </th>
                
                    
                   
                    
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.asstesName)
                        </td>
                        <td>
                            @if (item.OrderStuts == "Refusal")
                            {
                                <label class="label label-sm label-danger arrowed arrowed-righ">@Resources.Resource.Rejected</label>
                            }
                            else if (item.OrderStuts == "Financial Department")
                            {
                                <label class="label label-sm label-warning arrowed arrowed-righ">@Resources.Resource.MSFinancialDepartment</label>
                            }
                            else if (item.OrderStuts == "On Maintenance ")
                            {
                                <label class="label label-sm label-info arrowed arrowed-righ">@Resources.Resource.OnMaintenance</label>
                            }
                            else if (item.OrderStuts == "Completed")
                            {
                                <label class="label label-sm label-success arrowed arrowed-righ">@Resources.Resource.Completed</label>
                            }
                            else
                            {
                                <label class="label label-sm label-default arrowed arrowed-righ">@item.OrderStuts</label>
                            }



                        </td>
                        <td>
                            <span style="color:blue;font-weight:bold;" class="" data-rel="popover" title="Note Info" data-content="@item.OrderNotes"><a href="#">more</a></span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.employeeNameEn)
                        </td>

                        <td>
                        
                            @Convert.ToDateTime(item.strMaintenanceOrderDate).ToString("dd/MM/yyyy")
                        </td>
                       
                       
                        
                     
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.MaintenanceRequest</h3>
                </div>
                <div class="modal-body">
                    <form id="myForm">
                        <div class="loading" id="loading" hidden>Loading&#8230;</div>
                        <div class="row">
                            <div class="col-xs-12">
                                <input type="hidden" id="empId" name="empId" value="@ViewBag.empId" />
                                <input type="hidden" id="OId" name="OId" value="@ViewBag.OId" />
                                <div class="form-group">
                                    <label class="control-label">@Resources.Resource.AsName</label>
                                    <select id="asstesId" name="asstesId" class="form-control">
                                        @foreach (var item in ViewBag.asstesList)
                                        {
                                            <option value="@item.AsId">@item.AsName</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">@Resources.Resource.Note</label>
                                    <textarea id="OrderNotes" name="OrderNotes" class="form-control" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                                        <span>@Resources.Resource.btnOrder</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });

    $('[data-rel=popover]').popover({ html: true, container: 'body' });
</script>
<script>
    var AddEdit = function () { $("#myModal1").modal("show"); };
</script>
<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                asstesId: "required",
                asstesId: {
                    required: true,

                },
            },
            messages: {
                asstesId: {
                    required: "Please select Asstes",
                },
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({

                    type: "POST",
                    url: "/MaintenanceModule/MaintenanceOrders/DepartmentOrder",
                    data: myformdata,
                    success: function () {

                        $("#myModal").modal("hide");
                        window.location.href = "/MaintenanceModule/MaintenanceOrders/DepartmentMaintenanceOrders";
                    }

                })

            }
        });
    });


    $(document).ready(function () {
        $("#DeptReceivedDate").datepicker({
            format: 'dd/mm/yyyy'
        });
    });
</script>