﻿@model IEnumerable<hospitalErpDomainLayer.MaintenOrderViewModel>

@{
    ViewBag.Title = "RefusalOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidRejectionRequest</h3>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.AsName
                    </th>
                    <th>
                        @Resources.Resource.OrderSDate
                    </th>
                    <th>
                        @Resources.Resource.Nots
                    </th>
                    <th>
                        @Resources.Resource.LEmployName
                    </th>

                    <th>
                        @Resources.Resource.DMaintenanceOrders
                    </th>
                </tr>
            </thead>
            @if (Resources.Resource.Rejected== "Rejected")
            {
                <tbody>
                    @foreach (var item in Model.Where(x => x.OrderStuts == "Refusal").ToList())
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.asstesName)
                            </td>

                            <td>
                                @if (item.OrderStuts == "Refusal")
                                {
                                    <label class="label label-sm label-danger arrowed arrowed-righ">@Resources.Resource.Rejected</label>
                                }
                                else if (item.OrderStuts == "Financial Department")
                                {
                                    <label class="label label-sm label-warning arrowed arrowed-righ">@Resources.Resource.MSFinancialDepartment</label>
                                }
                                else if (item.OrderStuts == "On Maintenance ")
                                {
                                    <label class="label label-sm label-info arrowed arrowed-righ">@Resources.Resource.OnMaintenance </label>
                                }
                                else
                                {
                                    <label class="label label-sm label-default arrowed arrowed-righ">@item.OrderStuts</label>
                                }



                            </td>
                            <td>
                                <span style="color:blue;font-weight:bold;" data-rel="popover" title="Note Info" data-content="@item.OrderNotes"><a href="#">@Resources.Resource.more</a></span>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.employeeNameEn)
                            </td>

                            <td>

                                @Convert.ToDateTime(item.strMaintenanceOrderDate).ToString("dd/MM/yyyy")
                            </td>





                        </tr>
                    }
                </tbody>
            }
            else
            {

                <tbody>
                    @foreach (var item in Model.Where(x => x.OrderStuts == "Refusal").ToList())
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.asstesName)
                            </td>

                            <td>
                                @if (item.OrderStuts == "Refusal")
                                {
                                    <label class="label label-sm label-danger arrowed arrowed-righ">@Resources.Resource.Rejected</label>
                                }
                                else if (item.OrderStuts == "Financial Department")
                                {
                                    <label class="label label-sm label-warning arrowed arrowed-righ">@Resources.Resource.MSFinancialDepartment</label>
                                }
                                else if (item.OrderStuts == "On Maintenance ")
                                {
                                    <label class="label label-sm label-info arrowed arrowed-righ">@Resources.Resource.OnMaintenance </label>
                                }
                                else
                                {
                                    <label class="label label-sm label-default arrowed arrowed-righ">@item.OrderStuts</label>
                                }



                            </td>
                            <td>
                                <span style="color:blue;font-weight:bold;" data-rel="popover" title="Note Info" data-content="@item.OrderNotes"><a href="#">@Resources.Resource.more</a></span>
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.employeeNameAr)
                            </td>

                            <td>

                                @Convert.ToDateTime(item.strMaintenanceOrderDate).ToString("dd/MM/yyyy")
                            </td>





                        </tr>
                    }
                </tbody>

            }
            
        </table>
    </div>


</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });


    $('[data-rel=popover]').popover({ html: true });
</script>