﻿@model hospitalErpDomainLayer.MaintenOrderViewModel

@{

    Layout = null;
}
<style>
    textarea {
        width: 100%;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <form id="myForm">
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                <label class="control-label">@Resources.Resource.AsstesId</label>
                @Html.EditorFor(model => model.asstesId, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>

            <div class="form-group">
                <label class="control-label">@Resources.Resource.AsName</label>
                @Html.EditorFor(model => model.asstesName, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>


            <div class="form-group">
                <label class="control-label">@Resources.Resource.LEmployName</label>
                @Html.EditorFor(model => model.employeeNameEn, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>

            <div class="form-group">
                <label class="control-label">@Resources.Resource.OrderType</label>
                @Html.EditorFor(model => model.OrderType, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
            </div>


            <div class="form-group">
                <label class="control-label">@Resources.Resource.Nots</label>
                @Html.TextAreaFor(model => model.OrderNotes, new { htmlAttributes = new { @class = "form-control", @rows = "5" } })
            </div>

            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-danger btn-block">
                    <span>@Resources.Resource.btnRejected</span>
                </button>
            </div>
        </form>
    </div>
</div>


<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {
                OrderNotes: "required",
                OrderNotes: {
                    required: true,
                },
            },
            messages: {
                OrderNotes: {
                    required: "Please  Order Notes",
                },
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/MaintenanceModule/MaintenanceOrders/RefusalOrder",
                    data: myformdata,
                    success: function () {
                        $("#myModal").modal("hide");
                        window.location.href = "/MaintenanceModule/MaintenanceOrders/Index";
                    }
                })
            }
        });
    });
</script>



