﻿<div class="clearfix">
    <div class=" tableTools-container">
        <a href="#" class="btn btn-info" onclick="AddAssets()">@Resources.Resource.btnNew</a>
    </div>
</div>
<table id="table-Assetes" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>@Resources.Resource.HrtID</th>
            <th>@Resources.Resource.PAssets</th>
            <th>@Resources.Resource.PReceivedDate</th>
            <th>@Resources.Resource.PDelete</th>

        </tr>
    </thead>
    <tbody id="AssetesList">
        <tr id="LoadingAssetes" style="color:red"></tr>
    </tbody>

</table>
@*Start Modal Qualificat*@
<div class="modal fade" id="myModalAssets">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">@Resources.Resource.PAssets</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">
                <form id="myFormAssetes">
                   
                    <div class="form-group">
                        <label class="control-label">@Resources.Resource.PAssets</label>
                        <select id="AsId" name="AsId" class="form-control">
                            @foreach (var item in ViewBag.asstesList)
                            {
                                <option value="@item.id">@item.AsName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>@Resources.Resource.PReceivedDate</label>
                        <input type="text" id="AsEmpReceivedDate" name="AsEmpReceivedDate" class="form-control" />
                    </div>

                    <input type="hidden" id="asEmpId" name="asEmpId" value="@ViewBag.empid" />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.btnClose</button>
                        <button type="button" id="btnAssets" name="btnQualifications" class="btn btn-primary">@Resources.Resource.btnSave</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
