﻿
@if (@Resources.Resource.HrtID == "ID")
{
    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <div id="user-profile-1" class="user-profile row">
                    <div class="col-xs-12 col-sm-3 center">
                        <div>
                            <span class="profile-picture">
                                <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" width="182" height="202" src="@Model.empImg">
                            </span>

                            <div class="space-4"></div>

                            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                <div class="inline position-relative">
                                    <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                        <i class="ace-icon fa fa-circle light-green"></i>
                                        &nbsp;
                                        <span class="white">@Model.empFNameEn</span>
                                    </a>

                                    <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                        <li class="dropdown-header"> Change Status </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-circle green"></i>
                                                &nbsp;
                                                <span class="green">Available</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-circle red"></i>
                                                &nbsp;
                                                <span class="red">Busy</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-circle grey"></i>
                                                &nbsp;
                                                <span class="grey">Invisible</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>

                        @*<div class="profile-contact-info">
                            <div class="profile-contact-links align-left">
                                <a href="#" class="btn btn-link">
                                    <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                                    Add as a friend
                                </a>

                                <a href="#" class="btn btn-link">
                                    <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                                    Send a message
                                </a>

                                <a href="#" class="btn btn-link">
                                    <i class="ace-icon fa fa-globe bigger-125 blue"></i>
                                    www.alexdoe.com
                                </a>
                            </div>
                            <div class="space-6"></div>
                        </div>*@
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <div class="center">
                            <span class="btn btn-app btn-sm btn-light no-hover">
                                <a class="line-height-1 bigger-170 blue" href="/HrModule/EmployeeData/Edit?id=@Model.empid"> Edit </a>

                                <br>
                                <span class="line-height-1 smaller-90"> Employee </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-yellow no-hover">
                                <a href="/HrModule/EmployeeData/Create" class="line-height-1 bigger-170"> Add </a>

                                <br>
                                <span class="line-height-1 smaller-90"> Employee </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-pink no-hover">
                                <a href="/HrModule/EmployeeData/Index" class="line-height-1 bigger-170"> Lists </a>

                                <br>
                                <span class="line-height-1 smaller-90"> Employee </span>
                            </span>


                            @{
                                if (Model.UserId == null)
                                {
                                    <span class="btn btn-app btn-sm btn-grey no-hover">
                                                                    <a href="/HrModule/EmployeeData/RegisterLogin?Id=@Model.empid&Name=@Model.empTNameEn" class="line-height-1 bigger-170"> Login</a>

                                        <br>
                                        <span class="line-height-1 smaller-90"> Employee </span>
                                    </span>
                                }

                            }



                        </div>

                        <div class="space-12"></div>

                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name">Number</div>
                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="about">@Model.empid</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name"> Full Name </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="username">@Model.empFNameEn @Model.empSNameEn @Model.empTNameEn</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Nationality </div>

                                <div class="profile-info-value">
                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                    <span class="editable editable-click" id="country">@Model.NameNationalityEn</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Gender </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="age">@Model.NameGenderEn</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Birth Date </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="signup">@Model.empBirthDate.ToShortDateString()</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> Marital Status </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="login">@Model.NameMaritalStatusEn</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Religion </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="about">@Model.NameReligionEn</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Career Level</div>
                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="about">@Model.NameCareerLevelEn</span>
                                </div>
                            </div>
                        </div>
                        <div class="space-20"></div>
                        <div class="space-6"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
else
{


    <div class="row">
        <div class="col-xs-12">
            <div class="">
                <div id="user-profile-1" class="user-profile row">
                    <div class="col-xs-12 col-sm-3 center">
                        <div>
                            <span class="profile-picture">
                                <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" width="182" height="202" src="@Model.empImg">
                            </span>

                            <div class="space-4"></div>

                            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                <div class="inline position-relative">
                                    <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                        <i class="ace-icon fa fa-circle light-green"></i>
                                        &nbsp;
                                        <span class="white">@Model.empFNameAr</span>
                                    </a>

                                    <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                        <li class="dropdown-header"> Change Status </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-circle green"></i>
                                                &nbsp;
                                                <span class="green">Available</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-circle red"></i>
                                                &nbsp;
                                                <span class="red">Busy</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#">
                                                <i class="ace-icon fa fa-circle grey"></i>
                                                &nbsp;
                                                <span class="grey">Invisible</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="space-6"></div>

                        @*<div class="profile-contact-info">
                            <div class="profile-contact-links align-left">
                                <a href="#" class="btn btn-link">
                                    <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                                    Add as a friend
                                </a>

                                <a href="#" class="btn btn-link">
                                    <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                                    Send a message
                                </a>

                                <a href="#" class="btn btn-link">
                                    <i class="ace-icon fa fa-globe bigger-125 blue"></i>
                                    www.alexdoe.com
                                </a>
                            </div>
                            <div class="space-6"></div>
                        </div>*@
                    </div>

                    <div class="col-xs-12 col-sm-9">
                        <div class="center">
                            <span class="btn btn-app btn-sm btn-light no-hover">
                                <a class="line-height-1 bigger-170 blue" href="/HrModule/EmployeeData/Edit?id=@Model.empid"> تعديل </a>

                                <br>
                                <span class="line-height-1 smaller-90"> الموظف </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-yellow no-hover">
                                <a href="/HrModule/EmployeeData/Create" class="line-height-1 bigger-170"> أضافة </a>

                                <br>
                                <span class="line-height-1 smaller-90"> الموظف </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-pink no-hover">
                                <a href="/HrModule/EmployeeData/Index" class="line-height-1 bigger-170"> قائمة </a>

                                <br>
                                <span class="line-height-1 smaller-90"> الموظفين </span>
                            </span>


                            @{
                                if (Model.UserId == null)
                                {
                                    <span class="btn btn-app btn-sm btn-grey no-hover">
                                        <a href="/HrModule/EmployeeData/RegisterLogin?Id=@Model.empid&Name=@Model.empTNameEn" class="line-height-1 bigger-170">الدخول</a>

                                        <br>
                                        <span class="line-height-1 smaller-90"> الموظف </span>
                                    </span>
                                }

                            }



                        </div>

                        <div class="space-12"></div>

                        <div class="profile-user-info profile-user-info-striped">
                            <div class="profile-info-row">
                                <div class="profile-info-name">الرقم</div>
                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="about">@Model.empid</span>
                                </div>
                            </div>
                            <div class="profile-info-row">
                                <div class="profile-info-name">الاسم رباعي</div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="username">@Model.empFNameAr @Model.empSNameAr @Model.empTNameAr</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> الجنسية </div>

                                <div class="profile-info-value">
                                    <i class="fa fa-map-marker light-orange bigger-110"></i>
                                    <span class="editable editable-click" id="country">@Model.NameNationalityAr</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name"> النوع </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="age">@Model.NameGenderAr</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">تاريخ الميلاد</div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="signup">@Model.empBirthDate.ToShortDateString()</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">الحالة الاجتماعية </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="login">@Model.NameMaritalStatusAr</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">الديانة </div>

                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="about">@Model.NameReligionAr</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">المستوى الوظيفي</div>
                                <div class="profile-info-value">
                                    <span class="editable editable-click" id="about">@Model.NameCareerLevelAr</span>
                                </div>
                            </div>
                        </div>
                        <div class="space-20"></div>
                        <div class="space-6"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}