﻿<div class="">
    <div class=" tableTools-container">
        <a href="#" class="btn btn-info" onclick="AddEmpIdes()">@Resources.Resource.btnNew</a>
    </div>
    <table id="dynamic-Ides" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>@Resources.Resource.PNumber</th>
                <th>@Resources.Resource.PType</th>
                <th>@Resources.Resource.PPlaceIssue</th>
                <th>@Resources.Resource.PIssuedDate</th>
                <th>@Resources.Resource.PExpiredDate</th>
                <th>@Resources.Resource.PIamge</th>
                <th>@Resources.Resource.PDelete</th>

            </tr>
        </thead>
        <tbody id="empIdesList">
            <tr id="LoadingEmpIdes" style="color:red"></tr>
        </tbody>

    </table>

    <div class="modal fade" id="myModalIdes">
        <div class="loading" id="loading" hidden>Loading&#8230;</div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.titIdentification</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">
                    <form id="myFormIdes">
                        <input type="hidden" value="@ViewBag.empid" id="empId" name="empId" />

                        <div class="form-group">
                            <label>@Resources.Resource.PNumber</label>
                            <input type="text" id="idNumber" name="idNumber" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>@Resources.Resource.PType</label>
                            <select class="form-control" id="idType" name="idType">
                                @foreach (var item in ViewBag.IdesType)
                                {
                                    <option value="@item.id">@item.selNameEnglish - @item.selNameArabic</option>
                                }

                            </select>
                        </div>
                        
                       
                        <div class="form-group">
                            <label>@Resources.Resource.PIssuedDate</label>
                            <input type="text" id="idIssued" name="idIssued" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>@Resources.Resource.PExpiredDate</label>
                            <input type="text" id="idexpiredDate" name="idexpiredDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label> @Resources.Resource.PPlaceIssue</label>
                            <input type="text" name="idPlaceIssue" id="idPlaceIssue" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>@Resources.Resource.PIamge</label>
                            <input type="file" name="idImgFile" id="idImgFile" class="form-control" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.btnClose</button>
                            <button type="button" id="btnIdes" name="btnQualifications" class="btn btn-primary">@Resources.Resource.btnSave</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
