﻿@model hospitalErpDomainLayer.EmployeeViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/loading.css" rel="stylesheet" />

<div class="page-header">
    <h1>
        @Resources.Resource.EmployeeDetails
    </h1>
</div>
@Html.Partial("_DetalisHeader")
<div class="hr hr2 hr-double"></div>
<h1></h1>
<div class="row">
    <div class="col-xs-12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="myTab3">
                <li class="active">
                    <a data-toggle="tab" href="#home3" aria-expanded="true">
                        <i class="pink ace-icon fa fa-tachometer bigger-110"></i>
                        @Resources.Resource.HrDLicenses
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#profile3" aria-expanded="false">
                        <i class="blue ace-icon fa fa-user bigger-110"></i>
                        @Resources.Resource.HrDQualifications
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#dropdown13" aria-expanded="false">
                        <i class="ace-icon fa fa-rocket"></i>
                        @Resources.Resource.HrDIdentification
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#dropdown131" aria-expanded="false">
                        <i class="ace-icon fa  fa-cog"></i>
                        @Resources.Resource.HrDAssets
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="home3" class="tab-pane active">
                    @Html.Partial("_LicensesEmployee")
                </div>

                <div id="profile3" class="tab-pane">
                    @Html.Partial("_QualificationsEmployee")
                </div>

                <div id="dropdown13" class="tab-pane">
                    @Html.Partial("_EmployeeIds")
                </div>

                <div id="dropdown131" class="tab-pane">
                    @Html.Partial("_AddNewAssete")
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var lan = $('#Ling').text();
        ///////////////////////////////////////   Licenses
    window.onload = function (e) { GetLicenses(); GetQualificat(); GetEmPIdes(); getAsstes();};
        //get Licenses

    function GetLicenses() { $.ajax({ url: "/HrModule/EmployeeData/GetLicenseEmp?id=" +@ViewBag.empid,type: 'GET',success: function (res) {LicensesDataBinding(res);}});};
//get Qualificat
    function GetQualificat() { $.ajax({ url: "/HrModule/EmployeeData/getQualificat?id=" +@ViewBag.empid,type: 'GET', success: function (res) { QualificatDataBinding(res); } }); };
    //Ides
    function GetEmPIdes() { $.ajax({ url: "/HrModule/EmployeeData/getEmployeeIds?empId=" +@ViewBag.empid,type: 'GET', success: function (res) { EmpIdsDataBinding(res); } }); };
    //Asstes
    function getAsstes() { $.ajax({ url: "/HrModule/EmployeeData/getAllEmployeeAsstes?EmpId=" +@ViewBag.empid,type: 'GET', success: function (res) { AsstesDataBinding(res); } }); };
       // Licenses td
    function LicensesDataBinding(ListLicenses) {
        var SetData = $("#LicensesList");

        if (lan == "AR")
        {
            for (var i = 0; i < ListLicenses.length; i++) {

                var Data =
                    `<tr>
                  <td>${ ListLicenses[i].id}</td>
                  <td>${ListLicenses[i].NameEn}</td>
                  <td>${ListLicenses[i].PlaceEn}</td>
                  <td>${ ListLicenses[i].StartDate}</td>
                  <td>${ListLicenses[i].EndDate}</td>
                  <td><a target="_blank" href="${ListLicenses[i].Img}" ><span class="ace-icon fa fa-cloud-download"></span></a></td>
                  <td><a href="#"  onclick="Validity(${ListLicenses[i].id})"><span class="glyphicon glyphicon-repeat"></span></a></td>
                  <td><a href="#"  onclick="DeleteLicenses(${ListLicenses[i].id})"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>`;
                SetData.append(Data);
                $("#LoadingLicense").html(" ");


            }
        } else
        {
            for (var i = 0; i < ListLicenses.length; i++) {

                var Data =
                    `<tr>
                  <td>${ ListLicenses[i].id}</td>
                  <td>${ListLicenses[i].NameAr}</td>
                  <td>${ListLicenses[i].PlaceAr}</td>
                  <td>${ ListLicenses[i].StartDate}</td>
                  <td>${ListLicenses[i].EndDate}</td>
                  <td><a target="_blank" href="${ListLicenses[i].Img}" ><span class="ace-icon fa fa-cloud-download"></span></a></td>
                  <td><a href="#"  onclick="Validity(${ListLicenses[i].id})"><span class="glyphicon glyphicon-repeat"></span></a></td>
                  <td><a href="#"  onclick="DeleteLicenses(${ListLicenses[i].id})"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>`;
                SetData.append(Data);
                $("#LoadingLicense").html(" ");


            }
        }

    };
         //  Qualificat td
    function QualificatDataBinding(Qres) {
        var QSetData = $("#QualificationsList");
        if (lan == "AR")
        {
            for (var i = 0; i < Qres.length; i++) {
                var Data = `<tr>
                            <td>${Qres[i].Qid}</td>
                            <td>${Qres[i].QNameEnglish}</td>
                            <td>${Qres[i].QNamePlaceEnglish}</td>
                            <td>${Qres[i].QGrade}</td>
                            <td>${ Qres[i].QDate}</td>
                            <td><a target="_blank" href="${Qres[i].QImg}"><i class="ace-icon fa fa-cloud-download"></i></a></td>
                            <td><a href="#" onclick="DeleteQualificat(${Qres[i].Qid})"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>`;
                QSetData.append(Data);
                $("#LoadingQualificat").html(" ");
            }
        } else
        {
            for (var i = 0; i < Qres.length; i++) {
                var Data = `<tr>
                            <td>${Qres[i].Qid}</td>
                            <td>${Qres[i].QNameArbic}</td>
                            <td>${Qres[i].QNamePlaceArbic}</td>
                            <td>${Qres[i].QGrade}</td>
                            <td>${ Qres[i].QDate}</td>
                            <td><a target="_blank" href="${Qres[i].QImg}"><i class="ace-icon fa fa-cloud-download"></i></a></td>
                            <td><a href="#" onclick="DeleteQualificat(${Qres[i].Qid})"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>`;
                QSetData.append(Data);
                $("#LoadingQualificat").html(" ");
            }
        }

    };
    //Ides td
    function EmpIdsDataBinding(EmpIDesList) {
        var SetData = $("#empIdesList");
        if (lan == "AR")
        {
            for (var i = 0; i < EmpIDesList.length; i++) {
                var Data = `<tr>
                    <td>${EmpIDesList[i].idNumber}</td>
                    <td>${EmpIDesList[i].NameTypeEn}</td>
                    <td>${ EmpIDesList[i].idPlaceIssue}</td>
                    <td>${ EmpIDesList[i].stridIssued}</td>
                    <td>${EmpIDesList[i].stridexpiredDate}</td>
                    <td><a target="_blank" href="${EmpIDesList[i].idImg}"><i class="ace-icon fa fa-cloud-download"></i></a></td>
                    <td><a href="#" onclick="DeleteEmployeeIds(${EmpIDesList[i].id})"><span class="glyphicon glyphicon-trash"></span></a></td></tr>`;
                SetData.append(Data);
                $("#LoadingEmpIdes").html(" ");
            }
        } else {
            for (var i = 0; i < EmpIDesList.length; i++) {
                var Data = `<tr>
                    <td>${EmpIDesList[i].idNumber}</td>
                    <td>${EmpIDesList[i].NameTypeAr}</td>
                    <td>${ EmpIDesList[i].idPlaceIssue}</td>
                    <td>${ EmpIDesList[i].stridIssued}</td>
                    <td>${EmpIDesList[i].stridexpiredDate}</td>
                    <td><a target="_blank" href="${EmpIDesList[i].idImg}"><i class="ace-icon fa fa-cloud-download"></i></a></td>
                    <td><a href="#" onclick="DeleteEmployeeIds(${EmpIDesList[i].id})"><span class="glyphicon glyphicon-trash"></span></a></td></tr>`;
                SetData.append(Data);
                $("#LoadingEmpIdes").html(" ");


            }
        }
    };
    // asstes

    function AsstesDataBinding(ListLicenses) {
        var SetData = $("#AssetesList");
        for (var i = 0; i < ListLicenses.length; i++) {
            var Data = "<tr class='row_" + ListLicenses[i].Lid + "'>" +
                "<td>" + ListLicenses[i].id + "</td>" +
                "<td>" + ListLicenses[i].AsName + "</td>" +
                "<td>" + ListLicenses[i].strAsEmpReceivedDate + "</td>" +
                "<td>" + "<a href='#'  onclick='DeleteStudentRecord(" + ListLicenses[i].id + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingAssetes").html(" ");


        }
    };
        //DeleteLicenses
    var DeleteLicensesRows = function () {
        var table = document.getElementById("dynamic-table");

        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    };

         //DeleteQualifications
    var QDeleteRows = function () {
        var table = document.getElementById("table-Qualifications");

        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    };
    /// delete Assets
    var asstesDeleteRows = function () {
        var table = document.getElementById("table-Assetes");

        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    };

    //ides td
    var IdesDeleteRows = function () {
        var table = document.getElementById("dynamic-Ides");

        while (table.rows.length > 1) {
            table.deleteRow(1);
        }
    };


        // Add Licenses
    $("#btnSubmit").click(function () {
        var data = new FormData();
        var files = $("#LimgFile").get(0).files;
        if (files.length > 0) {
            data.append("LimgFile", files[0]);
        } else {
            alert("Choose Image");
            return false;
        }
        data.append("LName", $("#LName").val());
        data.append("LPlace", $("#LPlace").val());


        if ($("#LStartDate").val() == null || $("#LStartDate").val() == undefined) {
            alert("Enter Start Date");
            return false;
        }


        if ($("#LEndDate").val() == null || $("#LEndDate").val() == undefined) {
            alert("Enter End Date");
            return false;
        }

        data.append("LStartDate", $("#LStartDate").val());
        data.append("LEndDate", $("#LEndDate").val());
        data.append("empId", $("#empId").val());
        $("#loading").show();
        var settings = {
            type: "POST",
            url: "/HrModule/EmployeeData/LCreate",
            contentType: false,
            processData: false,
            data: data,
            success: function (r) {
                $("#ModalLicense").modal("hide");
                $('#LicensesForm')[0].reset();
                alert(r);
                DeleteLicensesRows();
                GetLicenses();
                $("#loading").hide();
            },
            error: function () {
                alert('error has occurred');
                $("#loading").hide();
            }

        };
        $.ajax(settings);
    });
        // Add
    $("#btnQualifications").click(function () {
        if ($("#QGrade").val() == null || $("#QGrade").val() == undefined) {
            alert("Enter Grade");
            return false;
        }

        if ($("#QDate").val() == null || $("#QDate").val() == undefined) {
            alert("Enter Date");
            return false;
        }
        var data = new FormData();
        var files = $("#QimgFile").get(0).files;
        if (files.length > 0) {
            data.append("QimgFile", files[0]);
        } else {
            alert("Choose Image");
            return false;
        }
        data.append("Qualifications", $("#Qualifications").val());
        data.append("QPlace", $("#QPlace").val());
        data.append("QGrade", $("#QGrade").val());
        data.append("QDate", $("#QDate").val());
        data.append("empId", $("#empId").val());
        $("#loading").show();
        var settings = {
            type: "POST",
            url: "/HrModule/EmployeeData/CreateQualificat",
            contentType: false,
            processData: false,
            data: data,
            success: function (r) {

                $("#myModalQualifications").modal("hide");
                $('#myForm')[0].reset();
                alert(r);
                QDeleteRows();
                GetQualificat();
                $("#loading").hide();
            },
            error: function () {
                alert('error has occurred');
                $("#loading").hide();
            }

        };
        $.ajax(settings);
    });

    // add ides
    $("#btnIdes").click(function () {
        if ($("#idNumber").val() == null || $("#idNumber").val() == undefined) {
            alert("Enter Id Number");
            return false;
        }

        if ($("#idIssued").val() == null || $("#idIssued").val() == undefined) {
            alert("Enter Date");
            return false;
        }


        if ($("#idexpiredDate").val() == null || $("#idexpiredDate").val() == undefined) {
            alert("Enter Date");
            return false;
        }


        if ($("#idPlaceIssue").val() == null || $("#idPlaceIssue").val() == undefined) {
            alert("Enter Place Issue");
            return false;
        }

        var data = new FormData();
        var files = $("#idImgFile").get(0).files;
        if (files.length > 0) {
            data.append("idImgFile", files[0]);
        } else {
            alert("Choose Image");
            return false;
        }
        data.append("idNumber", $("#idNumber").val());
        data.append("idType", $("#idType").val());
        data.append("idIssued", $("#idIssued").val());
        data.append("idexpiredDate", $("#idexpiredDate").val());
        data.append("empId", $("#empId").val());
        data.append("idPlaceIssue", $("#idPlaceIssue").val());
        $("#loading").show();
        var settings = {
            type: "POST",
            url: "/HrModule/EmployeeData/AddNewIdes",
            contentType: false,
            processData: false,
            data: data,
            success: function (r) {
                $("#myModalIdes").modal("hide");
                $('#myFormIdes')[0].reset();
                alert(r);
                IdesDeleteRows();
                GetEmPIdes();
                $("#loading").hide();
            },
            error: function () {
                alert('error has occurred');
                $("#loading").hide();
            }

        };
        $.ajax(settings);
    });

    //nAssets
    $("#btnAssets").click(function () {
        alert('abdo');
        if ($("#AsId").val() == null || $("#AsId").val() == undefined || $("#AsId").val() == '') {
            alert("scelect Assets");
            return false;
        }

        if ($("#AsEmpReceivedDate").val() == '' || $("#AsEmpReceivedDate").val() == undefined) {
            alert("Enter ReceivedDate");
            return false;
        }



        var data = new FormData();
        data.append("AsId", $("#AsId").val());
        data.append("AsEmpReceivedDate", $("#AsEmpReceivedDate").val());
        data.append("AsEmpId", $("#asEmpId").val());
        $("#loading").show();

        var settings = {
            type: "POST",
            url: "/HrModule/EmployeeData/AddNewAssete",
            contentType: false,
            processData: false,
            data: data,
            success: function (r) {
                $("#myModalAssets").modal("hide");
                $('#myForm')[0].reset();
                alert(r);
                asstesDeleteRows();
                getAsstes();
                $("#loading").hide();
            },
            error: function () {
                alert('error has occurred');
                $("#loading").hide();
            }

        };
        $.ajax(settings);
    });

    var DeleteEmployeeIds = function (id) {
        $.ajax({
            type: "POST",
            url: "/HrModule/EmployeeData/DeleteEmployeeIds?Id=" + id,
            //data: myformdata,
            success: function () {
                IdesDeleteRows();
                GetEmPIdes();
            }
        });
    };

    var DeleteQualificat = function (id) {
        $.ajax({
            type: "POST",
            url: "/HrModule/EmployeeData/DeleteQualificat?Id=" + id,
            //data: myformdata,
            success: function () {
                QDeleteRows();
                GetQualificat();
            }
        });
    };

    var DeleteLicenses = function (id) {
        $.ajax({
            type: "POST",
            url: "/HrModule/EmployeeData/DeleteLicenses?Id=" + id,
            //data: myformdata,
            success: function () {
                DeleteLicensesRows();
                GetLicenses();
            }
        });
    };

    $(document).ready(function () {
//DatePicker
    $("#LStartDate").datepicker({
        showButtonPanel: true,
        changeMonth: true,
        format: 'dd/mm/yyyy'
    });
    $("#LEndDate").datepicker({
        format: 'dd/mm/yyyy'
    });
    $("#QDate").datepicker({
        format: 'dd/mm/yyyy'
    });

    $("#idexpiredDate").datepicker({
        format: 'dd/mm/yyyy'
    });
    $("#idIssued").datepicker({
        format: 'dd/mm/yyyy'
    });

    $("#AsEmpReceivedDate").datepicker({
        format: 'dd/mm/yyyy'
    });

    });

    function AddAssets() {
        $("#myModalAssets").modal("show");
    };


    function AddLicense() {
        $("#ModalLicense").modal("show");
    };
    var AddEditQualifications = function () {
        $("#myModalQualifications").modal("show");
    }
    function AddEmpIdes() {
        $("#myModalIdes").modal("show");
    };


    //Employees Validity
    var Validity = function (id) {
        $.ajax({
            type: "POST",
            url: "/HrModule/EmployeeData/Validity?Id=" + id,
            success: function () {
                DeleteLicensesRows();
                GetLicenses();
            }
        });
    };
</script>
