﻿@model hospitalErpDomainLayer.EmployeeModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="page-header">
            Create
        </div>
        @using (Html.BeginForm("Edit", "EmployeeData", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" id="empid" name="empid" value="@Model.empid" /> 
                <div class="widget-box">
                    <div class="widget-header widget-header-blue widget-header-flat">
                        <h4 class="widget-title lighter">@Resources.Resource.NamesInfo</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">

                            <div class="row">

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempFNameAr</label>
                                        @Html.EditorFor(model => model.empFNameAr, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empFNameAr, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempSNameAr</label>
                                        @Html.EditorFor(model => model.empSNameAr, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empSNameAr, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempTNameAr</label>
                                        @Html.EditorFor(model => model.empTNameAr, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empTNameAr, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempFamilyNameAr</label>
                                        @Html.EditorFor(model => model.empFamilyNameAr, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empFamilyNameAr, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempFNameEn</label>
                                        @Html.EditorFor(model => model.empFNameEn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empFNameEn, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempSNameEn</label>
                                        @Html.EditorFor(model => model.empSNameEn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empSNameEn, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempTNameEn</label>
                                        @Html.EditorFor(model => model.empTNameEn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empTNameEn, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempFamilyNameEn</label>
                                        @Html.EditorFor(model => model.empFamilyNameEn, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empFamilyNameEn, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempNickName</label>
                                        @Html.EditorFor(model => model.empNickName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empNickName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <img src="" id="empImg" width="200" />
                                    <input type="file" name="empImgFile" id="empImgFile" required>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="widget-box">
                    <div class="widget-header widget-header-blue widget-header-flat">
                        <h4 class="widget-title lighter">@Resources.Resource.BirthNationalityInfo</h4>


                    </div>

                    <div class="widget-body">
                        <div class="widget-main">

                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempBirthDate</label>
                                        @Html.TextBoxFor(model => model.empBirthDate,"{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empBirthDate, "", new { @class = "text-danger" })

                                    </div>

                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempBirthblace</label>
                                        @Html.EditorFor(model => model.empBirthblace, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empBirthblace, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label>@Resources.Resource.HrCempNationality</label>
                                        @Html.DropDownList("empNationality", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.empNationality, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">@Resources.Resource.HrcReligion</label>
                                        @Html.DropDownList("empReligion", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.empReligion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="widget-box">
                    <div class="widget-header widget-header-blue widget-header-flat">
                        <h4 class="widget-title lighter">@Resources.Resource.HRcTitleGenderInfo</h4>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-3">

                                    <div class="form-group">
                                        <label class="control-label">@Resources.Resource.HrcTitle</label>
                                        @Html.DropDownList("empTitle", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.empTitle, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">Gender</label>
                                        @Html.DropDownList("empGender", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.empGender, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">@Resources.Resource.HrcMaritalStatus</label>
                                        @Html.DropDownList("empMaritalStatus", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.empMaritalStatus, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="control-label">@Resources.Resource.HrcempBloodGroup</label>
                                        @Html.EditorFor(model => model.empBloodGroup, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.empBloodGroup, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-header widget-header-blue widget-header-flat">
                        <h4 class="widget-title lighter">@Resources.Resource.HrcJobs</h4>


                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="form-group">
                                        <label class="control-label">@Resources.Resource.HrcCareerLevel</label>
                                        @Html.DropDownList("empCareerLevel", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.empCareerLevel, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <div class="form-group">
                                        <label class="control-label">@Resources.Resource.HrcActivationStatus</label>
                                        <div class="checkbox text-center">
                                            @Html.EditorFor(model => model.empActivationStatus)
                                            @Html.ValidationMessageFor(model => model.empActivationStatus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class=" col-md-10">
                        <input type="submit" value="@Resources.Resource.btnEdit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();



            reader.onload = function (e) {

                $('#empImg').attr('src', e.target.result);

            }

            reader.readAsDataURL(input.files[0]);

        }

    }

    $("#empImgFile").change(function () {

        readURL(this);

    });

</script>
