﻿@model IEnumerable<hospitalErpDomainLayer.EmployeeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.HrHEmployeeList</h3>
        <div class="clearfix">
            <div class="tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="/HrModule/EmployeeData/Create" class="btn btn-info">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>@Resources.Resource.HrtID</th>
                        <th>@Resources.Resource.HrtEmloyeeName</th>
                        <th>@Resources.Resource.HrtReligion </th>
                        <th>@Resources.Resource.HrtNationality</th>
                        <th>@Resources.Resource.HrtGender</th>
                        <th>Accounts</th>
                        <th></th>
                    </tr>
                </thead>
                @if (@Resources.Resource.HrtID=="ID")
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="#">@item.empid</a>
                                </td>
                                <td>
                                    @item.empFNameEn @item.empSNameEn @item.empTNameEn
                                </td>
                                <td>
                                    @item.NameReligionEn
                                </td>
                                <td>
                                    @item.NameNationalityEn
                                </td>
                                <td>
                                    @item.NameGenderEn
                                </td>
                                <td>
                                    @if (item.UserId != null)
                                    {
                                        <a class="btn  btn-primary btn-sm" href="/Account/SetPassword?UserId=@item.UserId">
                                            SetPassword
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-danger btn-sm" href="/HrModule/EmployeeData/RegisterLogin?Id=@item.empid&Name=@item.empFNameEn">
                                            Create Password
                                        </a>
                                    }

                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/HrModule/EmployeeData/Details?id=@item.empid">
                                        <i class="ace-icon glyphicon glyphicon-plus"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="#">@item.empid</a>
                                </td>
                                <td>
                                   @item.empFNameAr @item.empSNameAr @item.empTNameAr
                                </td>
                                <td>
                                    @item.NameReligionAr
                                </td>
                                <td>
                                    @item.NameNationalityAr
                                </td>

                                <td>
                                    @item.NameGenderAr
                                </td>
                                <td>
                                    @if (item.UserId != null)
                                    {
                                        <a class="btn  btn-primary btn-sm" href="/Account/SetPassword?UserId=@item.UserId">
                                            SetPassword
                                        </a>
                                    }
                                    else
                                    {

                                        <a class="btn btn-danger btn-sm" href="/HrModule/EmployeeData/RegisterLogin?Id=@item.empid&Name=@item.empFNameEn">
                                            Create Password
                                        </a>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="/HrModule/EmployeeData/Details?id=@item.empid">
                                        <i class="ace-icon glyphicon glyphicon-plus"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({});
    });
</script>

