﻿@model IEnumerable<hospitalErpDomainLayer.employeeDepartmentManagmentViewModel>

@{
    ViewBag.Title = "PositionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.AssignStaff</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="Add()">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resource.HrtID
                        </th>

                        <th>
                            @Resources.Resource.LEmployName
                        </th>


                        <th>
                            @Resources.Resource.DepartmentName
                        </th>

                        <th>
                            @Resources.Resource.ManagmentName
                        </th>

                        <th></th>
                    </tr>
                </thead>
                @if (Resources.Resource.DepartmentName == "Department Name")
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.empNameEnglish)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.DeparNameEnglish)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.ManagEnglish)
                            </td>

                            <td>
                                <a class="btn btn-primary btn-sm" href="#" onclick="Edit(@item.id)">
                                    <i class="ace-icon glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.empNameArabic)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.DeparNameArabic)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.ManagArabic)
                                </td>

                                <td>
                                    <a class="btn btn-primary btn-sm" href="#" onclick="Edit(@item.id)">
                                        <i class="ace-icon glyphicon glyphicon-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.AssignStaff</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>


<script>
    var Add = function () {
        var url = "/HrModule/EmployeeData/AddPosition";
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

            var Id = $("#ManagmentId").val();

            $.ajax({
                type: "Post",
                url: "/HrModule/EmployeeData/GetDepartment?MId=" + Id,
                contentType: "html",
                success: function (response) {
                    GetDepartmentJson(response);
                }
            });
        });
    };


    var Edit = function (val) {
        var url = "/HrModule/EmployeeData/EditPosition?Id=" + val;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

            //var Id = $("#ManagmentId").val();

            $.ajax({
                type: "Post",
                url: "/HrModule/EmployeeData/GetDepartment?MId=" + Id,
                contentType: "html",
                success: function (response) {
                    GetDepartmentJson(response);
                }
            });
        });
    };

    function GetDepartmentJson(ListVal) {
        $('#DepartmentId').children().remove().end()
        for (var i = 0; i < ListVal.length; i++) {
            $('#DepartmentId').append('<option value="' + ListVal[i].deptId + '">' + ListVal[i].deptNameEn + " - " + ListVal[i].deptNameAr + '</option>');
        }
    };
</script>