﻿@model hospitalErpSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("RegisterLogin", "EmployeeData", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>@Resources.Resource.LCreateLogenAccount</h4>
            
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
              <label class = "col-md-2 control-label" >@Resources.Resource.LEmployId</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.EmployId, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Resources.Resource.LEmployName</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.EmployName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Resources.Resource.LUserName</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Resources.Resource.LEmail</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Resources.Resource.LPassword</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@Resources.Resource.LConfirmPassword</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-primary" value="@Resources.Resource.LRegister" />
                </div>
            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>