﻿@model IEnumerable<hospitalErpDomainLayer.PolicyForApproveViewModel>
@{
    ViewBag.Title = "ApprovePolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.ApprovePolicies</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resource.HrtID
                        </th>
                        <th>
                            @Resources.Resource.Title
                        </th>

                        <th>
                            @Resources.Resource.Attachments
                        </th>
                        <th>
                            @Resources.Resource.EffectiveDate
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.policiesNumbers)
                                <a href="/PoliciesModule/PoliciesDetails/Details?Number=@item.policiesNumbers" title="Policy Details"><i class="ace-icon fa fa-eye"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titel)
                            </td>
                            <td>

                                <a target="_blank" href="@item.PolPdf" title="Policy Details"><i class="ace-icon glyphicon glyphicon-download"></i></a>
                            </td>
                            <td>

                                @Convert.ToDateTime(item.PolEffectiveDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @if (item.Approv == false)
                                {
                                    <a title="Approve Policy" href="/PoliciesModule/PoliciesDetails/Approve?Id=@item.id"><i style="color:green;" class="ace-icon glyphicon glyphicon-check"></i></a>
                                }
                                else
                                {
                                    if (item.Status == "Approve")
                                    {
                                        <span class="label label-sm label-success">@Resources.Resource.Approve</span>
                                    }
                                    else
                                    {
                                        <span class="label label-sm label-success">@Resources.Resource.New</span>
                                    }

                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>