﻿@model hospitalErpDomainLayer.PoliciesModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/summernote/summernote.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.CreatePolicy</h3>
        @{
            string er = ViewBag.Error;
            if (er != "")
            {
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>

                    <strong>
                        <i class="ace-icon fa fa-times"></i>
                        Error !
                    </strong>
                    @er
                    <br>
                </div>
            }


        }


        @using (Html.BeginForm("Create", "PoliciesDetails", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.PolicyType</label>
                    <div class="col-md-10">
                        <select id="TId" name="TId" class="form-control" >
                            @foreach (var item in ViewBag.PTypeList)
                            {
                                <option value="@item.id">@item.NameEn - @item.NameAr</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.HrtID</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.policiesNumbers, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.policiesNumbers, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.Title</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.polTitle, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.polTitle, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.Body</label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => Model.PolBody, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PolBody, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.PolPdf</label>
                    <div class="col-md-10">
                        <input id="PolFile" type="file" name="PolFile" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.EffectiveDate</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PolEffectiveDate, new { htmlAttributes = new { @class = "form-control", @required = "true", @type = "date" } })
                        @Html.ValidationMessageFor(model => model.PolEffectiveDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.ploType</label>
                    <div class="col-md-10">
                        <select id="Type" name="Type" class="form-control">
                            <option value="1">Department-القسم</option>
                            <option value="2">ِAll-الكل</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Resource.DepartmentName</label>
                    <div class="col-md-10">
                        <select id="DeptId" name="DeptId" class="form-control" multiple="multiple">
                            @foreach (var item in ViewBag.Depts)
                            {
                                <option value="@item.deptId">@item.deptNameAr -  @item.deptNameEn</option>
                            }
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Resources.Resource.LCreate" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<script src="~/assets/summernote/summernote.js"></script>
<script src="~/assets/home-index.js"></script>
<script>
    //$(document).ready(function () {
    //    $("#PolEffectiveDate").datepicker({
    //        format: 'dd/mm/yyyy'
    //    });
    //});


    $("#Type").change(function () {
        var Type = $(this).val();
        if (Type == 2) {
            $("#DeptId").prop('disabled', true);

        } else {
            $("#DeptId").prop('disabled', false);
        }
    });
</script>

<script>
    jQuery(document).ready(function ($) {
        $("#DeptId,#MangersId").select2({
            dropdownAutoWidth: true,
            width: '100%'
        });
    });
</script>
