﻿@model IEnumerable<hospitalErpDomainLayer.PoliciesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SIdPolicies</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="/PoliciesModule/PoliciesDetails/Create" class="btn btn-info">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                           @Resources.Resource.HrtID 
                        </th>
                        <th>
                          @Resources.Resource.Title  
                        </th>
                        <th>
                            @Resources.Resource.Attachments
                        </th>
                        <th>
                          @Resources.Resource.EffectiveDate 
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.policiesNumbers)
                                <a href="/PoliciesModule/PoliciesDetails/Details?Number=@item.policiesNumbers" title="Policy Details"><i class="ace-icon fa fa-eye"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.polTitle)
                            </td>
                            <td>
                                <a title="policy pdf" target="_blank" href="@item.PolPdf"><i class="ace-icon glyphicon glyphicon-download"></i></a>
                            </td>
                            <td>
                                @Convert.ToDateTime(item.PolEffectiveDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <a title="Publish" href="/PoliciesModule/PoliciesDetails/Update?Number=@item.policiesNumbers"><i class="ace-icon fa fa-pencil-square-o"></i></a>
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>
