﻿@model IEnumerable<hospitalErpDomainLayer.PoliciesViewModel>

@{
    ViewBag.Title = "Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.PublishPolicies</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">

                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                          @Resources.Resource.HrtID
                        </th>
                        <th>
                          @Resources.Resource.Title
                        </th>

                        <th>
                         @Resources.Resource.EffectiveDate
                        </th>

                        <th>
                          @Resources.Resource.EnterDate
                        </th>
                        <th>
                           @Resources.Resource.IsPublish
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.policiesNumbers)
                                <a href="/PoliciesModule/PoliciesDetails/Details?Number=@item.policiesNumbers" title="Policy Details"><i class="ace-icon fa fa-eye"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.polTitle)
                            </td>

                            <td>
                                @Convert.ToDateTime(item.PolEffectiveDate).ToString("dd/MM/yyyy")
                            </td>

                            <td>
                                @Convert.ToDateTime(item.EnterDate).ToString("dd/MM/yyyy")
                              
                            </td>
                            <td>
                                @if (item.isPublish == false)
                                {
                                    <a title="Publish" href="/PoliciesModule/PoliciesDetails/PublishForEmployee?Number=@item.policiesNumbers"><i style="color:green;" class="ace-icon glyphicon glyphicon-check"></i></a>
                                }
                                else
                                {
                                    <span class="label label-sm label-success">@item.Status</span>
                                }

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>