﻿@model hospitalErpDomainLayer.OrganizationModel

<link href="~/assets/loading.css" rel="stylesheet" />
<form id="myForm">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="">

        <input id="OId" name="OId" value="@Model.OId" type="hidden" />
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">English Name</label>
                    @Html.TextBoxFor(model => model.ONameEn, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">Arabic Name</label>
                    @Html.TextBoxFor(model => model.ONameAr, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-group">

            <label class="control-label">Address</label>
            @Html.TextBoxFor(model => model.OAddress, new { @class = "form-control" })

        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">Support Number</label>
                    @Html.TextBoxFor(model => model.OSupportNumbers, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">Phone Number</label>
                    @Html.TextBoxFor(model => model.OPhoneNumbers, new { @class = "form-control" })

                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Email</label>
            @Html.TextBoxFor(model => model.OEmail, new { @class = "form-control" })

        </div>
        <div class="form-group">
            <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                @if (Model.OId > 0)
                {<span>Update</span> }
                else
                {<span>Save</span>}
            </button>
        </div>
    </div>
</form>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {
                ONameEn: "required",
                ONameAr: "required",
                OEmail: "required",
                OSupportNumbers: "required",
                OAddress: "required",
                OPhoneNumbers: "required",
                ONameAr: {
                    required: true,

                },
                ONameEn: {
                    required: true,
                },
                OEmail: {
                    required: true,
                    email: true
                },
                OSupportNumbers: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,
                    
                },
                OAddress: {
                    required: true,
                },
                OPhoneNumbers: {
                    required: true,
                    minlength: 10,
                    maxlength: 10,

                },
            },
            messages: {
                ONameEn: {
                    required: "Please enter Name",
                },
                OEmail: {
                    required: "Please enter Name",
                    email: "Please enter a valid email address",
                },

                ONameAr: {
                    required: "Please enter Name",

                },

                OSupportNumbers: {
                    required: "Please enter Support Number",
                    minlength: "Please enter Min length 10",
                    maxlength: "Please enter Max length 10",
                   

                },

                OAddress: {
                    required: "Please enter Support Number",

                },
                OPhoneNumbers: {
                    required: "Please enter Support Number",
                    minlength: "Please enter Min length 10",
                    maxlength: "Please enter Max length 10",
                   

                },
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({

                    type: "POST",
                    url: "/SettingModule/Organiz/UpdateCreate",
                    data: myformdata,
                    success: function () {

                        window.location.href = "/SettingModule/Organiz/Index";
                    }

                })

            }
        });
    });
</script>
