﻿@model IEnumerable<hospitalErpDomainLayer.OrganizationViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Organization</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0)">New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.OId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ONameEn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ONameAr)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OPhoneNumbers)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OSupportNumbers)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OEmail)
                        </th>
                     
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ONameEn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ONameAr)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.OAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OPhoneNumbers)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OSupportNumbers)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OEmail)
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" onclick="Delete(@item.OId)">
                                    <i class="ace-icon glyphicon glyphicon-remove"></i>
                                </a>

                                <a class="btn btn-primary btn-sm" href="#" onclick="AddEdit(@item.OId)">
                                    <i class="ace-icon glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add & Edit</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">


                </div>


            </div>

        </div>

    </div>
    </div>

@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>
<script>
    var AddEdit = function (id) {

        var url = "/SettingModule/Organiz/AddEdit?id=" + id;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>

<script>
    var Delete = function (id) {
        $.ajax({
            type: "POST",
            url: "/SettingModule/Selections/SelectDetailDelete?Id=" + id,
            success: function (result) {

                 window.location.href = "/SettingModule/Selections/SelectDetailIndex?Id="+@ViewBag.sTId;
            }
        })
    }
</script>