﻿@model hospitalErpDomainLayer.IncidentSubTypeModel

<div class="row">
    <div class="col-xs-12">
        <form id="myForm">
            @Html.HiddenFor(model => model.OId)
            @Html.HiddenFor(model => model.ISTId)
            <div class="form-group">
              <label>@Resources.Resource.NameArabic</label>
                    @Html.EditorFor(model => model.ISTNameAr, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label>@Resources.Resource.NameEnglish</label>
                    @Html.EditorFor(model => model.ISTNameEn, new { htmlAttributes = new { @class = "form-control" } })
                
            </div>
            <div class="form-group">
                <label>@Resources.Resource.ComplainType</label>
                <select id="IMTId" name="IMTId" class="chosen-select form-control">
                    @foreach (var item in ViewBag.MianList)
                    {
                        <option value="@item.IMTId">@item.IMTNameEr - @item.IMTNameAr</option>
                    }
                </select>
                   
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.ISTId > 0)
                    {<span>@Resources.Resource.btnEdit</span> }
                    else
                    {<span>@Resources.Resource.btnSave</span>}
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                ISTNameAr: "required",
                ISTNameEn: "required",
                ISTNameAr: {
                    required: true,
                },

                ISTNameEn: {
                    required: true,
                },
               

            },
            messages: {
                ISTNameAr: {
                    required: "Please enter Name",
                },
                ISTNameEn: {
                    required: "Please enter Name",
                }
              
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({

                    type: "POST",
                    url: "/IncidentModel/IncidentSubType/AddEdit",
                    data: myformdata,
                    success: function () {

                        $("#myModal").modal("hide");

                        window.location.href = "/IncidentModel/IncidentSubType/Index";
                    }

                })

            }
        });
    });
</script>


