﻿@model IEnumerable<hospitalErpDomainLayer.PoliciesTypeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidPoliciesType</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                           @Resources.Resource.NameArabic
                        </th>
                        <th>
                            @Resources.Resource.NameEnglish
                        </th>
                        <th>
                           @Resources.Resource.Description
                        </th>
                        
                        <th>
                            @Resources.Resource.ManagmentName
                        </th>
                       
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameEn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.description)
                            </td>
                           
                            <td>
                                @Html.DisplayFor(modelItem => item.MNameEr) - @Html.DisplayFor(modelItem => item.MNameAr)
                            </td>
                           
                            <td>
                                <a class="btn btn-primary btn-sm" href="#" onclick="AddEdit(@item.id)">
                                    <i class="ace-icon glyphicon glyphicon-pencil"></i>
                                </a>

                                <a class="btn btn-success btn-sm" href="/PoliciesModule/PolicyPlan/Index?TId=@item.id" >
                                    <i class="ace-icon glyphicon glyphicon-plus"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.SidPoliciesType</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>

<script>
    var AddEdit = function (id) {

        var url = "/PoliciesModule/PoliciesType/AddEdit?Id=" + id;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>