﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/assets/canvasjs-chart/canvasjs.min.js"></script>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Incident</h3>
        <div class="row">
            <div class="col-xs-6">
                <div id="chartIncidentContainer">
                </div>
            </div>
            <div class="col-xs-6">
                <div id="chartContainer">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12">



    </div>
</div>
<script type="text/javascript">
    $(function () {
        var chart = new CanvasJS.Chart("chartIncidentContainer", {
            theme: "light2",
            animationEnabled: true,
            exportEnabled: true,
            title: {
                text: "Incident For Current "
            },
            axisX: {
                title: " Month"
            },
            axisY: {
                title: "Number Of  Incident",
            },
            axisY2: {
                title: "Number Of  Incident",
            },
            data: [{ type: "column", dataPoints: @Html.Raw(ViewBag.DataPoints),}]
        });
        chart.render();
    });

      $(function () {
          var chartRiskProbability = new CanvasJS.Chart("chartContainer", {
            theme: "light2",
            animationEnabled: true,
            exportEnabled: true,
            title: {
                text: "Incident For Current Years By Risk Probability"
            }, axisX: {
                title: " Risk Probability"
            },
            axisY: {
                title: "Number Of  Risk Probability",
            },
            data: [{type: "column",dataPoints: @Html.Raw(ViewBag.RiskProbability),}]
        });
          chartRiskProbability.render();
    });


</script>
