﻿@model hospitalErpDomainLayer.PolicyPlanModel
<link href="~/assets/loading.css" rel="stylesheet" />
<style>
    textarea {
        width: 100%;
    }
</style>
<form id="myForm">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    @Html.HiddenFor(model => model.TId)
    @Html.HiddenFor(model => model.id)
    <div class="row">
        <div class="col-xs-12">

            <div class="form-group">
                <label class="control-label">@Resources.Resource.ManagmentName - <span style="color:red;font-weight:bold;font-size:12px;">@Resources.Resource.TheArrangementisVeryImportant</span></label>
                <select id="MId" name="MId" class="form-control">
                    @foreach (var item in ViewBag.Management)
                    {
                        <option value="@item.Mid">@item.MNameEnglish - @item.MNameArabic</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.id > 0)
                    {<span>@Resources.Resource.btnEdit</span> }
                    else
                    {<span>@Resources.Resource.btnSave</span>}
                </button>
            </div>
        </div>

    </div>
</form>

<script>
    $("#btnSubmit").click(function () {

        $("#loading").show();
        var myformdata = $("#myForm").serialize();
        $.ajax({
            type: "POST",
            url: "/PoliciesModule/PolicyPlan/AddAndEdit",
            data: myformdata,
            success: function (res) {
                if (res=="1") {
                    var TId = $("#TId").val();
                    window.location.href = "/PoliciesModule/PolicyPlan/Index?TId=" + TId;
                } else {
                    alert("Sorry, it already exists");
                    $("#loading").hide();
                }
            }
        })
    });
</script>
