﻿@model IEnumerable<hospitalErpDomainLayer.PolicyPlanViweModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.PoliciesPlan</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0,@ViewBag.TId)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                           @Resources.Resource.HrtID
                        </th>

                        <th>
                           @Resources.Resource.LEmployName
                        </th>
                        <th>
                          @Resources.Resource.Arrangement
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @if (@Resources.Resource.Arrangement == "Arrangement")
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MNameEn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Arrangement)
                                </td>
                                <td>

                                    <a href="#" class="btn btn-danger btn-xs" onclick="Delete(@item.id,@ViewBag.TId)">
                                        <i class="ace-icon glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.MNameAr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Arrangement)
                                </td>
                                <td>

                                    <a href="#" class="btn btn-danger btn-xs" onclick="Delete(@item.id,@ViewBag.TId)">
                                        <i class="ace-icon glyphicon glyphicon-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add & Edit Policy Plan</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>

</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>

<script>
    var AddEdit = function (id, TId) {

        var url = "/PoliciesModule/PolicyPlan/AddEdit?Id=" + id + "&TId=" + TId;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>

<script>
    var Delete = function (id, TId) {
        $.ajax({
            type: "POST",
            url: "/PoliciesModule/PolicyPlan/Delete?Id=" + id,
            success: function (res) {
                alert(res);
                window.location.href = "/PoliciesModule/PolicyPlan/Index?TId=" + TId;
            }
        });
    };
</script>