﻿@model IEnumerable<hospitalErpDomainLayer.ManagementViewModel>

@{
    ViewBag.Title = "ManagementAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-dialog {
        width: 944px;
        margin: 30px auto;
    }
</style>

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Management</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEditManagement()">New</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Mid)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.MName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ONameEnglish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameManagerEnglish)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.NameVicManagerEnglish)
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mid)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.MName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ONameEnglish)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameManagerEnglish)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NameVicManagerEnglish)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    <div class="modal fade" id="myModalManagement">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add Management</h3>
                </div>
                <div class="modal-body" id="myModalBodyDivManagement">

                </div>
            </div>
        </div>
    </div>


</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>
<script>
    var AddEditManagement = function () {
        var url = "/SettingModule/ManagAndDepart/ManagAdmin";
        $("#myModalBodyDivManagement").load(url, function () {
            $("#myModalManagement").modal("show");
            var Id = $("#OId").val();
            $.ajax({
                type: "Post",
                url: "/SettingModule/ManagAndDepart/employees?OId=" + Id,
                contentType: "html",
                success: function (response) {
                    GetEmployeeJson(response);
                }
            })

        })
    };



    function GetEmployeeJson(ListVal) {
        $('#deptManager').children().remove().end()
        for (var i = 0; i < ListVal.length; i++) {
            $('#deptManager').append('<option value="' + ListVal[i].empid + '">' + ListVal[i].empFNameEn +" "+ ListVal[i].empSNameEn +" "+ ListVal[i].empTNameEn +'</option>');
        }

        $('#deptVicManager').children().remove().end()
        for (var i = 0; i < ListVal.length; i++) {
            $('#deptVicManager').append('<option value="' + ListVal[i].empid + '">' + ListVal[i].empFNameEn +" "+ ListVal[i].empSNameEn +" "+ ListVal[i].empTNameEn +'</option>');
        }
    };

</script>