﻿@model IEnumerable<hospitalErpDomainLayer.AgendaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.Agenda</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class="tableTools-container">
                        <a href="/AgendaModule/AgendaManagment/Create" class="btn btn-info">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resource.Title
                        </th>
                        <th>
                            @Resources.Resource.History
                        </th>

                        <th>
                            @Resources.Resource.AgendaForm
                        </th>

                        <th>
                            @Resources.Resource.AgendaTo
                        </th>

                    </tr>
                </thead>
                @if (Resources.Resource.AgendaTo == "Agenda To")
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.History).ToString("dd/MM/yyyy")
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpNameEnglishFor)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmplNameEnglishTo)
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.History).ToString("dd/MM/yyyy")
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmpNameArabicFor)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.EmplNameArabicTo)
                                </td>
                            </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>