﻿@model IEnumerable<hospitalErpDomainLayer.CreateRoleModel>

@{
    ViewBag.Title = "EmployeeRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.Roles</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit()">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                      @Resources.Resource.HrtID
                    </th>
                    <th>
                      @Resources.Resource.Role
                    </th>
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.Role</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>

<script>
    var AddEdit = function () {
        var url = "/Account/NewRoles";
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }
</script>