﻿@model IEnumerable<hospitalErpDomainLayer.employeePositionModel>

@{
    ViewBag.Title = "EmployeeAssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidAssignRole</h3>

        <div class="clearfix">
            <div class="pull-left tableTools-container">
                <div class="clearfix">
                    <div class="pull-left tableTools-container">

                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Resources.Resource.HrtID
                        </th>
                        <th>
                            @Resources.Resource.LEmployName
                        </th>
                        <th>
                            @Resources.Resource.HrcTitle
                        </th>
                        <th>
                            @Resources.Resource.HrCempBirthDate

                        </th>
                        <th>
                            @Resources.Resource.HrcCareerLevel

                        </th>
                        <th>
                            @Resources.Resource.DepartmentName

                        </th>
                        <th>
                            @Resources.Resource.ManagmentName

                        </th>
                        <th>#</th>
                    </tr>
                </thead>
                @if (Resources.Resource.DepartmentName == "Department Name")
                {
                    <tbody>
                        @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.empid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.empNameEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameTitleEn)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.empBirthDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameCareerLevelEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DeparNameEnglish)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ManagEnglish)
                        </td>
                        <td>
                            <a href="/Account/EmployeeRole?UserId=@item.UserId" class="btn btn-white btn-info"> View</a>
                        </td>
                    </tr>
                    }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.empid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empNameAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameTitleAr)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.empBirthDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NameCareerLevelAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeparNameArabic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ManagArabic)
                            </td>
                            <td>
                                <a href="/Account/EmployeeRole?UserId=@item.UserId" class="btn btn-white btn-info"> View</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
        });
    });
</script>
