﻿@model IEnumerable<hospitalErpSystem.Models.Users_in_Role_ViewModel>

@{
    ViewBag.Title = "EmployeeRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidRole</h3>
  
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(@ViewBag.Id)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.HrtID
                    </th>
                
                    <th>
                       @Resources.Resource.LUserName
                    </th>
                    <th>
                        @Resources.Resource.LEmail
                    </th>
                    <th>
                        @Resources.Resource.SidRole
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Role.ToString() !="")
                    {
                        <tr>
                            <td>
                                @ViewBag.Id
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>

                                <button id="Delete" class="btn btn-white btn-warning btn-bold">
                                    <i class="ace-icon fa fa-trash-o bigger-120 orange"></i>
                                    @Resources.Resource.Delete
                                </button>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.Role</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var AddEdit = function (empId) {
        var url = "/Account/AssignRoleForEnployee?empId=" + empId;
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
        })
    }
</script>
<script>
    $(document).ready(function () {

        // code to read selected table row cell data (values).
        $("#dynamic-table").on('click', '#Delete', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var Id = currentRow.find("td:eq(0)").html(); 
            var Name = currentRow.find("td:eq(3)").html();
         
            $.ajax({
                type: "POST",
                url: "/Account/RemoveEnployeeRole?Id=" + $.trim(Id) + "&&Name=" + $.trim(Name) ,
                success: function (res) {
               
                    window.location.href = "/Account/EmployeeRole?UserId=" + res;
                }

            })
        });
    });
</script>

@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>

