﻿@model hospitalErpSystem.Models.SetPasswordViewModel
@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Set Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">Set Password</h3>

        @using (Html.BeginForm("SetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-xs-12">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.UserId, new { @Value = ViewBag.UserId })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Set Password" class="btn btn-info" />
                        <input type="reset" value="Clear" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>