﻿@model hospitalErpDomainLayer.SClassificationModel

<link href="~/assets/loading.css" rel="stylesheet" />
<form id="myForm">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div>
        @Html.HiddenFor(model => model.OId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.HiddenFor(model => model.id, new { htmlAttributes = new { @class = "form-control" } })
        <div class="form-group">
            <label class="control-label">  @Resources.Resource.NameArabic</label>
            @Html.EditorFor(model => model.NameArbic, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="form-group">
            <label class="control-label">@Resources.Resource.NameEnglish</label>
                @Html.EditorFor(model => model.NameEnglish, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="form-group">
            <label class="control-label">@Resources.Resource.SidMainCategory</label>
            <select id="MainClassificationId" name="MainClassificationId" class="form-control">
                @foreach (var item in ViewBag.MClassList)
            {
                    <option value="@item.id">@item.NameEnglish - @item.NameArabic </option>
                }
            </select>
        </div>



        <div class="form-group">
            <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                @if (Model.id > 0)
            {<span>@Resources.Resource.btnEdit</span> }
            else
            {<span>@Resources.Resource.btnSave</span>}
            </button>
        </div>
    </div>
</form>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                NameArbic: "required",
                NameEnglish: "required",
                NameArbic: {
                    required: true,

                },

                NameEnglish: {
                    required: true,

                },

            },
            messages: {
                NameArbic: {
                    required: "Please enter Name",
                },
                NameEnglish: {
                    required: "Please enter Name",

                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({

                    type: "POST",
                    url: "/AsstesModule/SubClassification/UpdateCreate",
                    data: myformdata,
                    success: function () {

                        $("#myModal").modal("hide");
                        window.location.href = "/AsstesModule/SubClassification/Index";
                    }

                })

            }
        });
    });
</script>