﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xs-12">

    <h3 class="header smaller lighter blue">@Resources.Resource.AsstesDetails</h3>
    <div class="clearfix">
        <div class=" tableTools-container">
            <div class="clearfix">
                <div class=" tableTools-container">
                    <a id="basic" onclick="print()" href="#" class="btn btn-primary">@Resources.Resource.Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-user-info profile-user-info-striped">
        <div class="profile-info-row">
            <div class="profile-info-name">@Resources.Resource.HrtID</div>
            <div class="profile-info-value">
                <span class="editable editable-click" id="about">@ViewBag.asstes.id</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.AsName </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="username">@ViewBag.asstes.AsName</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.Description </div>

            <div class="profile-info-value">

                <span class="editable editable-click" id="country">@ViewBag.asstes.AsDescription </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.maintype </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="age">@ViewBag.asstes.AssetTypeNameEnglish - @ViewBag.asstes.AssetTypeNameArabic</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">@Resources.Resource.PurchaseDate</div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="signup">@Convert.ToDateTime(ViewBag.asstes.PurchaseDate).ToString("dd/MM/yyyy") </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.AsPrice </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="login">@ViewBag.asstes.AsPrice </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.Warranty </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="login">@Convert.ToDateTime(ViewBag.asstes.AsWarrantyPeriodDate).ToString("dd/MM/yyyy")  </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">@Resources.Resource.MaintenanceContract </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="about">
                    @{string Periodic = " Periodic Maintenance - دورية";

                        string Depends = "Depends on the Reques - حسب الطلب";
                    }
                    @if (ViewBag.asstes.AsMaintenanceType == 1)
                    {
                        <span>@Periodic</span>
                    }
                    else
                    {
                        <span>@Depends</span>

                    }

                </span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name"> @Resources.Resource.Attachments </div>

            <div class="profile-info-value">
                <span class="editable editable-click" id="login"><a title="Warranty" target="_blank" href="@ViewBag.asstes.AsWarrantyImage">Warranty <i class="ace-icon fa fa-arrow-circle-o-down"></i></a>  - <a target="_blank" href="@ViewBag.asstes.ASBill">Bill <i class="ace-icon fa fa-arrow-circle-o-down"></i></a>   -   <a target="_blank" href="@ViewBag.asstes.ASMaintenanceContract">Maintenance Contract <i class="ace-icon fa fa-arrow-circle-o-down"></i></a> - <a target="_blank" href="@ViewBag.asstes.AsInstructionManual">Instruction Manual <i class="ace-icon fa fa-arrow-circle-o-down"></i></a> </span>
            </div>
        </div>
    </div>
</div>