﻿@model IEnumerable<hospitalErpDomainLayer.IncidentAssignForViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SIdAssignedComplain</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.HrtID
                    </th>
                    <th>
                       @Resources.Resource.OccurrenceDate
                    </th>
                    <th>
                       @Resources.Resource.DiscoverDate
                    </th>
                    <th>
                        @Resources.Resource.ReportDate
                    </th>
                   
                    <th>
                        @Resources.Resource.Stuts
                    </th>
                    
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(x=> x.status== "New Assign"))
                {
                    <tr>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.IncidentId)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.OccurrenceDate).ToString("dd/MM/yyyy")
                           
                        </td>
                        <td>
                         
                            @Convert.ToDateTime(item.DiscoverDate).ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Convert.ToDateTime(item.ReportDate).ToString("dd/MM/yyyy")
                         
                        </td>
                       
                        <td>
                            <span class="label label-warning">
                               
                               @item.status
                            </span>
                         
                        </td>
                        <td>
                            <a href="/IncidentModel/Assigned/investigate?assId=@item.assId" class="btn btn-white btn-info"> @Resources.Resource.investigate</a>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
        });
    });
</script>