﻿@model hospitalErpDomainLayer.InvestigatorModel
@using hospitalErpDomainLayer
@{
    ViewBag.Title = "investigate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    textarea {
        width: 100%
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.investigate</h3>
        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">

                    </div>
                </div>
            </div>
        </div>
        <!-- Start Incident Details-->
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">Incident Details</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-8">

                                <table class="table table-striped ">
                                    <tbody>

                                        <tr>

                                            <td>
                                                @Resources.Resource.HrtID  :  @ViewBag.IncidentId
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.Resource.DiscoverDate  : @Convert.ToDateTime(ViewBag.DiscoverDate).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                @Resources.Resource.ReportDate  : @Convert.ToDateTime(ViewBag.ReportDate).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.Resource.OccurrenceDate  : @Convert.ToDateTime(ViewBag.OccurrenceDate).ToString("dd/MM/yyyy")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.Resource.Description  : @ViewBag.Description
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                @Resources.Resource.ComplainLocation  :  @ViewBag.Name
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                            <div class="col-xs-4">
                                @{

                                    List<IncidentAffectedVisitorModel> modelVisitor = ViewBag.affectVisitors;
                                    List<IncidentAffectedStaffViewModel> modelStaff = ViewBag.affectStaff;
                                    if (modelStaff.Count > 0)
                                    {
                                        <div class="well well-sm"> @Resources.Resource.AffectedByStaff </div>
                                        <table class="table table-striped ">
                                            <tbody>
                                                @foreach (var item in modelStaff)
                                                {
                                                    <tr>

                                                        <td class="hidden-xs">
                                                            @item.empNameEn - @item.empNameAr
                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                    if (modelVisitor.Count > 0)
                                    {
                                        <div class="well well-sm"> @Resources.Resource.AffectedByVisitors </div>
                                        <table class="table table-striped">
                                            <tbody>
                                                @foreach (var item in modelVisitor)
                                                {
                                                    <tr>
                                                        <td> @item.VName</td>
                                                        <td> @item.VPhone </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }


                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Incident Details-->
        <br />
        <br />
        <!--Start Assigned Details-->
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title"> @Resources.Resource.AssignedComplain</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-xs-12">

                                <table class="table table-striped ">
                                    <tbody>
                                        @{
                                            IncidentAssignViewModel Inc = ViewBag.IncidentAssign;
                                            <tr>
                                                <td>
                                                    @Resources.Resource.investigator :  @Inc.investigatorEmpIdNameEn - @Inc.investigatorEmpIdNameAr
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Resources.Resource.Comment  : @Inc.Comment
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Resources.Resource.AssignedBy  : @Inc.CreateByEn - @Inc.CreateByAr
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Resources.Resource.DepartmentResponsible  : @Inc.assDeptResDeptNameEn - @Inc.assDeptResDeptNameAr
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Assigned Details-->
        <br />
        <br />
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title">@Resources.Resource.investigate</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">

                            @using (Html.BeginForm())
                            {
                            @Html.HiddenFor(model => model.assId)
                            @Html.HiddenFor(model => model.Oid)
                            @Html.HiddenFor(model => model.IncidentId)
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>@Resources.Resource.ContributingFactors</label>
                                    <select id="CFId" name="CFId" class="chosen-select form-control" required>
                                        @foreach (var item in ViewBag.ContributingFactorList)
                                            {
                                            <option value="@item.CFId">@item.CFNameAr - @item.CFNameEn </option>
                                            }
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                   <label>@Resources.Resource.Actions</label>
                                    @Html.TextAreaFor(model => model.Actions, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Actions, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label> @Resources.Resource.Comment</label>
                                    @Html.TextAreaFor(model => model.Recement, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Recement, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <input type="submit" value=" @Resources.Resource.investigate" class="btn btn-primary" />
                                </div>
                            </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

