﻿@model IEnumerable<hospitalErpDomainLayer.AsstesDepartmentViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .modal-dialog {
        width: 944px;
        margin: 30px auto;
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.AssteDepartment</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                      @Resources.Resource.AsName
                    </th>
                    <th>
                       @Resources.Resource.ReceivedDate
                    </th>
                    <th>
                      @Resources.Resource.DepartmentName
                    </th>
                    <th>
                       @Resources.Resource.ManagmentName
                    </th>
                  
                    <th>
                       @Resources.Resource.NotificationBefore
                    </th>
                  
                </tr>
                </thead>
            @if (@Resources.Resource.AsName== "Asset Name")
            {
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AsName)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.DeptReceivedDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeptNameEnglish)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MagaNameEnglish)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NotificationBefore)
                            </td>

                        </tr>
                    }
                </tbody>
            }
            else
            {
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AsName)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.DeptReceivedDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeptNameArabic)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.MagaNameArabic)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NotificationBefore)
                            </td>

                        </tr>
                    }
                </tbody>

            }
            
        </table>
    </div>

    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.AssteDepartment</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({
        });
    });
</script>

<script>
    var AddEdit = function (id) {

        var url = "/AsstesModule/AssteDepartment/Add";
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");
            var Id = $("#ManagementId").val();
            $.ajax({

                type: "Post",
                url: "/AsstesModule/AssteDepartment/GetDapt?Id=" + Id,
                contentType: "html",
                success: function (response) {
                    GetDepartmentJson(response);
                }
            });

        })

    };


    function GetDepartmentJson(ListVal) {
        $('#DeptId').children().remove().end()
        for (var i = 0; i < ListVal.length; i++) {
            $('#DeptId').append('<option value="' + ListVal[i].deptId + '">' + ListVal[i].deptNameEn + ' - ' + ListVal[i].deptNameAr + '</option>');
        }
    };
</script>
