﻿<!DOCTYPE html>
@using System.Web.Optimization
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Erp System @ViewBag.Title</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <!-- page specific plugin styles -->
    <!-- text fonts -->
    @Styles.Render("~/bootstrap/Styles")
    <link rel="stylesheet" href="~/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    @Styles.Render("~/plugin/styles")
    <!-- ace styles -->

    <link href="~/assets/css/ace.min.css" rel="stylesheet" />
    <link href="~/assets/css/ace-skins.min.css" rel="stylesheet" />



    <script src="~/assets/js/ace-extra.min.js"></script>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    @Scripts.Render("~/Main/Script")
    <!-- <![endif]-->

    <link href="~/assets/select2/css/select2.css" rel="stylesheet" />
    <script src="~/assets/select2/js/select2.full.min.js"></script>
    <style>
        .popover {
            border: none;
            border-radius: unset;
            min-width: 100px;
            width: 100%;
            max-width: 400px;
            overflow-wrap: break-word;
        }
    </style>
    <style>
        table {
            width: 100%;
        }
    </style>

    @if (Resources.Resource.LayHome == "الرئسية")
    {
        <link href="~/assets/css/ace-rtl.min.css" rel="stylesheet" />
        <style>
            .pull-left {
                float: right;
            }
        </style>
        <link href="~/assets/CustomFontAR.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/assets/CustomFontEN.css" rel="stylesheet" />
    }

</head>
<body class="no-skin rtl">
    @Html.Partial("_Header")
    <div class="main-container ace-save-state" id="main-container">
        @Html.Partial("_Sidebar")
        <div class="main-content">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#" onclick="location.href='@Url.Action("Index", "Home", new { area = "" })'">
                            @Resources.Resource.LayHome
                        </a>
                    </li>
                    @if (ViewBag.SubSystem != null)
                    {
                        <li class="active">@ViewBag.SubSystem</li>
}
                    @if (ViewBag.SitMap != "")
                    {
                        <li class="active">@ViewBag.SitMap</li>
}
                    @if (ViewBag.SubSitMap != null)
                    {
                        if (ViewBag.SubSitMap != "")
                        {
                            <li class="active">@ViewBag.SubSitMap</li>
}
                    }

                </ul><!-- /.breadcrumb -->
            </div>
            <div class="page-content">
                @Html.Partial("_Settingcontiner")
                @RenderBody()
            </div>
        </div><!-- /.main-content -->
        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Erp</span>
                        SYSTEM &copy;
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>
    @Scripts.Render("~/plugin/Script")
    <!-- ace scripts -->
    <!-- page specific plugin scripts -->
    <!-- inline scripts related to this page -->
    @Scripts.Render("~/ace_plugin/Script")
    @Scripts.Render("~/aceCustem_Script/Script")
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.1.js"></script>
    @*Reference the autogenerated SignalR hub script.*@
    <script src="/signalr/hubs" type="text/javascript"></script>
    @{if (!User.IsInRole("Admin"))
        {
            <script type="text/javascript">
                $(function () {
                    // Declare a proxy to reference the hub.
                    var notifications = $.connection.notificationHub;

                    // Create a function that the hub can call to broadcast messages.
                    notifications.client.updateMessages = function () {
                        GetAllNotification();
                    };

                    // Start the connection.
                    $.connection.hub.start(/*{ transport: ['serverSentEvents', 'foreverFrame', 'webSockets'] }*/).done(function () {

                        GetAllNotification();

                    }).fail(function (e) {
                        alert(e)
                    });
                });
                function GetAllNotification() {
                    $.ajax({
                        type: "POST",
                        url: "/home/GetNotifications",
                        success: function (res) {
                            var numbers = res.length;
                            var numbers = res.length;
                            $("#HeadNumber").text(numbers);
                            $("#Number").text(numbers);
                            for (var i = 0; i < res.length; i++) {
                                $("#Notifica").append('  <li><a href=' + res[i].nUrl + '><div class="clearfix"><span class="pull-left"> <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i> ' + res[i].nBody + ' </span><span class="pull-right badge badge-info"></span></div></a></li>');
                            }
                        }
                    });
                }

                // Get Notification using Ajax
                function GetByAjaxNotification() {
                    $.ajax({
                        type: "POST",
                        url: "/home/GetAllNotifications",
                        success: function (res) {
                            var numbers = res.length;
                            $("#HeadNumber").text(numbers);
                            $("#Number").text(numbers);

                            for (var i = 0; i < res.length; i++) {
                                $("#Notifica").append('  <li><a href=' + res[i].nUrl + '><div class="clearfix"><span class="pull-left"> <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i> ' + res[i].nBody + ' </span><span class="pull-right badge badge-info"></span></div></a></li>');
                            }
                        }
                    });
                }

                //Relode Notification
                function yourFunction() {
                    setTimeout(yourFunction, 60000);
                    GetByAjaxNotification();
                }
                yourFunction();


                // dropdown
                jQuery(document).ready(function ($) {
                    $("#ToEmployeeId,#DepartmentId,#LName,#Qualifications,#QPlace,#LPlace,#idType,#AsId,#empNationality,#empCareerLevel,#requestTypeId,#LId").select2({
                        dropdownAutoWidth: true,
                        width: '100%'
                    });
                    $("#deptManager,#deptVicManager,#DepartmentId,.empId").select2({
                        dropdownAutoWidth: true,
                        width: '100%'
                    });


                });
            </script>
        } }
</body>
</html>
