﻿<div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    @*<script type="text/javascript">
            try { ace.settings.loadState('sidebar') } catch (e) { }
        </script>*@

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" style="top: 0px;">
        <li class="">
            <a href="/Home/Index">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> @Resources.Resource.SidDashboard </span>
            </a>
            <b class="arrow"></b>
        </li>
        @if (User.IsInRole("Admin") || User.IsInRole("HR Management"))
        {
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon ace-icon fa fa-cogs"></i>
                    <span class="menu-text"> @Resources.Resource.SidSettingModule </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="/SettingModule/Selections/SelectTypeIndex">
                            @Resources.Resource.SidSelection
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
                @if (User.IsInRole("Admin"))
                {
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Org & Dept & Manag
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/SettingModule/Employee/Create">
                                        @Resources.Resource.DEmployeeNumber
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/SettingModule/Organiz/Index">

                                        @Resources.Resource.DOrganization
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/SettingModule/ManagAndDepart/ManagementAdmin">
                                        @Resources.Resource.DManagement
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/SettingModule/ManagAndDepart/DepartAdmin">
                                        @Resources.Resource.DDepartment
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/Account/EmployeeRoles">
                                        @Resources.Resource.SidRole
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/Account/EmployeeAssignRole">
                                        @Resources.Resource.SidAssignRole
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>

                }




                @if (User.IsInRole("HR Management"))
                {
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                @Resources.Resource.SidManagement
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/SettingModule/Manage/Index">
                                        @Resources.Resource.SidList
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <b class="arrow"></b>
                    <ul class="submenu">


                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                @Resources.Resource.SidDepartment
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/SettingModule/Depart/Index">
                                        @Resources.Resource.SidList
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                @Resources.Resource.SidNotification
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/NotificationSettings/Index">

                                        @Resources.Resource.SidNotificationSettings
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </li>
        }



        @if (!User.IsInRole("Admin"))
        {
            if (User.IsInRole("HR Management"))
            {
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-users"></i>
                        <span class="menu-text">
                            @Resources.Resource.SidHRModule
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidStaffManagement
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/HrModule/EmployeeData/Index">
                                        @Resources.Resource.SidListEmp
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                                <li class="">
                                    <a href="/HrModule/EmployeeData/PositionList">
                                        @Resources.Resource.AssignStaff
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidAccountManagement
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/Account/EmployeeRoles">
                                        @Resources.Resource.SidRole
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                            <ul class="submenu">
                                <li class="">
                                    <a href="/Account/EmployeeAssignRole">
                                        @Resources.Resource.SidAssignRole
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                        <li class="">
                            <a href="/HrModule/OrganizationLicenses/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidOrganizationLicenses
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
            }
            @*if (true/*User.IsInRole("Assets Management")*/)
                {
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon glyphicon glyphicon-cog"></i>
                            <span class="menu-text">
                                  @Resources.Resource.SidAssetsModule
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="">
                                <a href="#" class="dropdown-toggle">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.Resource.SidCategories
                                    <b class="arrow fa fa-angle-down"></b>
                                </a>

                                <b class="arrow"></b>

                                <ul class="submenu">
                                    <li class="">
                                        <a href="/AsstesModule/MainClassification/Index">
                                            <i class="menu-icon menu-icon fa fa-eye pink"></i>
                                          @Resources.Resource.SidMainCategory
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                    <li class="">
                                        <a href="/AsstesModule/SubClassification/Index">
                                            <i class="menu-icon menu-icon fa fa-eye pink"></i>
                                            @Resources.Resource.SidSubCategory
                                        </a>
                                        <b class="arrow"></b>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="/AsstesModule/asstes/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                 @Resources.Resource.SidAssets
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/AsstesModule/AssteDepartment/Index">
                                 <i class="menu-icon fa fa-caret-right"></i>
                                 @Resources.Resource.SidDepartment
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                }
                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-pencil-square-o"></i>
                        <span class="menu-text">
                          @Resources.Resource.SidAgendaModule
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @if (true @*User.IsInRole("Agenda Management"))
                        {
                            <li class="">
                                <a href="/AgendaModule/AgendaManagment/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.Resource.SidAgenda
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        <li class="">
                            <a href="/AgendaModule/AgendaManagment/AllReadAgenda">
                             <i class="menu-icon fa fa-caret-right"></i>
                              @Resources.Resource.SidMyAgenda
                            </a>
                            <b class="arrow"></b>
                        </li>
                    </ul>
                </li>
                    <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon glyphicon glyphicon-cog"></i>
                        <span class="menu-text">
                            @Resources.Resource.SidMaintenanceModule
                        </span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        @if (true User.IsInRole("Maintenance Management") && !User.IsInRole("Admin"))
                        {
                            <li class="">
                                <a href="/MaintenanceModule/MaintenanceOrders/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                   @Resources.Resource.SidNewRequest
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/MaintenanceModule/MaintenanceHand/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.Resource.SidReceivedRequest
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/MaintenanceModule/MaintenanceOrders/RefusalOrderList">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                 @Resources.Resource.SidRejectionRequest
                                </a>

                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/MaintenanceModule/MaintenanceBills/Index">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.Resource.SidApprovalInvoice
                                </a>
                                <b class="arrow"></b>
                            </li>
                            <li class="">
                                <a href="/MaintenanceModule/MaintenanceBills/financialRequest">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    @Resources.Resource.SidFinancialRequest
                                </a>
                                <b class="arrow"></b>
                            </li>
                        }
                        <li class="">
                            <a href="/MaintenanceModule/MaintenanceOrders/MyMaintenanceOrders">
                                <i class="menu-icon fa fa-caret-right"></i>
                               @Resources.Resource.SIdMyMaintenanceRequest
                            </a>

                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/MaintenanceModule/MaintenanceOrders/DepartmentMaintenanceOrders">
                                <i class="menu-icon fa fa-caret-right"></i>
                              @Resources.Resource.SidDepartmentRequest
                            </a>
                            <b class="arrow"></b>
                        </li>

                    </ul>
                </li>*@

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text">
                        @Resources.Resource.SidPoliciesModule
                    </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    @if (User.IsInRole("Policies Management") && !User.IsInRole("Admin"))
                    {
                        <li class="">
                            <a href="/PoliciesModule/PoliciesType/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidPoliciesType
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="/PoliciesModule/PoliciesDetails/ApprovePolicy">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SIdApprovePolicies
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/PoliciesModule/PoliciesDetails/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SIdPolicies
                            </a>
                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/PoliciesModule/PoliciesDetails/Publish">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidPolicyPublish
                            </a>

                            <b class="arrow"></b>
                        </li>
                    }
                    <li class="">
                        <a href="/PoliciesModule/PoliciesRead/MyPolicy">
                            <i class="menu-icon fa fa-caret-right"></i>
                            @Resources.Resource.SidMyPolicy
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            @*<li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon ace-icon fa fa-exchange"></i>
                        <span class="menu-text">
                            @Resources.Resource.SidRequestsModule
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        <li class="">
                            <a href="/RequestsModule/EmployeeRequest/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SIdMyRequest
                            </a>

                            <b class="arrow"></b>
                        </li>
                        @if (User.IsInRole("Requests Management") && !User.IsInRole("Admin"))
                        {
                        <li class="">
                            <a href="/RequestsModule/RequestsType/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidRequestTypes
                            </a>

                            <b class="arrow"></b>
                        </li>
                        <li class="">
                            <a href="/RequestsModule/ApproveRequest/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SIdApproveRequest
                            </a>
                            <b class="arrow"></b>
                        </li>
                        }

                    </ul>
                </li>*@

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon ace-icon glyphicon glyphicon-list"></i>
                    <span class="menu-text">
                        @Resources.Resource.SidIncidentModel
                    </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    @if (User.IsInRole("Incident Management"))
                    {
                        <li class="">
                            <a href="/IncidentModel/LocationIncident/Index">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SIdComplainLocation
                            </a>
                            <b class="arrow"></b>
                        </li>
                    }


                    <li class="">
                        <a href="/IncidentModel/IncidentForEmployee/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            @Resources.Resource.SIdMyComplain
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-caret-right"></i>
                            @Resources.Resource.SIdAssignedComplain
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>

                        <ul class="submenu">
                            <li class="">
                                <a href="/IncidentModel/ContributingFactors/Index">

                                    @Resources.Resource.SidContributingFactor
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/IncidentModel/Assigned/Index">

                                    @Resources.Resource.SIdAssignedComplain
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole("Incident Management"))
                    {
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SIdSubmittedComplain
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/IncidentModel/IncidentMainType/Index">
                                        @Resources.Resource.SidComplainType
                                    </a>
                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/IncidentModel/IncidentSubType/Index">
                                        @Resources.Resource.SIdComplaintSub
                                    </a>
                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/IncidentModel/IncidentAssign/Index">
                                        @Resources.Resource.SidSubmitedComplaint
                                    </a>

                                    <b class="arrow"></b>
                                </li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="#" class="dropdown-toggle">
                                <i class="menu-icon fa fa-caret-right"></i>
                                @Resources.Resource.SidInvestigated
                                <b class="arrow fa fa-angle-down"></b>
                            </a>

                            <b class="arrow"></b>

                            <ul class="submenu">
                                <li class="">
                                    <a href="/IncidentModel/IncidentRiskProbabilitys/Index">

                                        @Resources.Resource.SidRiskProbability
                                    </a>
                                    <b class="arrow"></b>
                                </li>

                                <li class="">
                                    <a href="/IncidentModel/IncidentRiskSeventySubs/Index">
                                        @Resources.Resource.SidRiskSeventy
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                                <li class="">
                                    <a href="/IncidentModel/IncidentDegreeOfHarms/Index">
                                        @Resources.Resource.SidDegreeOfHarm
                                    </a>

                                    <b class="arrow"></b>
                                </li>
                                <li class="">
                                    <a href="/IncidentModel/AnalystToClose/Index">
                                        @Resources.Resource.SidAnalystToClose
                                    </a>
                                    <b class="arrow"></b>
                                </li>
                            </ul>
                        </li>
                    }
                    <li class="">
                        <a href="/IncidentModel/AnalystToClose/Closed">
                            <i class="menu-icon fa fa-caret-right"></i>
                            @Resources.Resource.SIdClosedIncident
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/IncidentModel/IncidentChart/Index">
                            <i class="menu-icon fa fa-caret-right"></i>
                            @Resources.Resource.SidIncidentChart
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        }

    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-save-state ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>