﻿@model IEnumerable<hospitalErpDomainLayer.NotificationsViewSettingMode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.NotificationsSetting</h3>

        <div class="clearfix">
            <div class="pull-left tableTools-container">
                <div class="clearfix">
                    <div class="pull-left tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit()">>@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        
                        <th>
                            @Resources.Resource.DepartmentName
                        </th>
                        <th>
                            @Resources.Resource.LEmployName
                        </th>
                        
                        <th>
                            @Resources.Resource.type
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.deptNameEn) - @Html.DisplayFor(modelItem => item.deptNameAr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.empNameEn) - @Html.DisplayFor(modelItem => item.empNameAr)
                            </td>
                        
                            <td>
                                @if (item.Type == 1)
                                {

                                    <label>Employee Licenses - تارخيص الموظفين</label>
                                }
                                else
                                {

                                    <label>Org Licenses - تارخيص المنظمات </label>
                                }
                             
                            </td>

                            <td>

                                <a class="btn btn-danger btn-sm"  href="">
                                    <i class="ace-icon glyphicon glyphicon-remove"></i>
                                </a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">Add Notifications Setting </h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>


<script>
    var AddEdit = function () {

        var url = "/NotificationSettings/Create";

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })
    };

</script>