﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<hospitalErpDomainLayer.PoliciesReaViewModel>

@{
    ViewBag.Title = "MyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue"> @Resources.Resource.MyPolicy</h3>
        <div class="row">
            @foreach (var item in Model)
            {
                
                <div class="col-xs-6 col-sm-4 col-md-3">
                    <div class="thumbnail search-thumbnail">
                        @if (item.isRead==true)
                        {
                            <span class="search-promotion label label-success arrowed-in arrowed-in-right">@Resources.Resource.Read</span>
                        }
                        else
                        {
                            <span class="search-promotion label label-danger arrowed-in arrowed-in-right">@Resources.Resource.NotRead</span>
                        }
                        <img class="media-object" data-src="holder.js/100px200?theme=gray" alt="100%x200" style="height: 200px; width: 100%; display: block;" src="@item.TImg" data-holder-rendered="true">
                        <div class="caption">
                            <div class="clearfix">
                                <div class=" bigger-110" >
                                    <span class="label label-warning info-label">
                                       @Resources.Resource.EffectiveDate : @Convert.ToDateTime(item.PolEffectiveDate).ToString("dd/MM/yyyy")
                                    </span>
                                </div>
                            </div>
                            <h3 class="search-title">
                                <a href="/PoliciesModule/PoliciesRead/ReadPolicy?Number=@item.policiesNumbers" class="blue">@item.polTitle</a>
                            </h3>
                            <p>@Resources.Resource.ploType: @item.polTypeEn - @item.polTypeAr</p>
                            <p>@Resources.Resource.CreatedBy: @item.CreateByEmpNameEn - @item.CreateByEmpNameAr</p>
                            <p>@Resources.Resource.Stuts : @item.Status</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span class="text-center">@Html.PagedListPager(Model, Page => Url.Action("MyPolicy", new { Page }))</span>
    </div>
</div>