﻿@model hospitalErpDomainLayer.PoliciesViewModel

@{
    ViewBag.Title = "ReadPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.PolicyDetails</h3>
    </div>
    <div class="col-xs-6">
        <div class="profile-user-info profile-user-info-striped">

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.HrtID </div>
                <div class="profile-info-value">
                    <span class="editable editable-click" id="country">@Model.policiesNumbers</span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.EffectiveDate </div>
                <div class="profile-info-value">
                    <span class="editable editable-click" id="country">@Convert.ToDateTime(Model.PolEffectiveDate).ToString("dd/MM/yyyy")</span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-6">
        <div class="profile-user-info profile-user-info-striped">
            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.Title </div>

                <div class="profile-info-value">

                    <span class="editable editable-click" id="country">@Model.polTitle</span>
                </div>
            </div>
            <div class="profile-info-row">
                <div class="profile-info-name"> @Resources.Resource.PolPdf </div>

                <div class="profile-info-value">

                    <span class="editable editable-click" id="country">
                        <a href="@Model.PolPdf" target="_blank"><i class="ace-icon glyphicon glyphicon-download"></i> </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="col-xs-12">
        <div class="widget-box transparent ui-sortable-handle collapsed" id="widget-box-4">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">@Resources.Resource.Body</h4>

                <div class="widget-toolbar">


                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-down"></i>
                    </a>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body" style="display: block;">
                <div class="widget-main">
                    @Html.Raw(Model.PolBody)
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <h6 class="header smaller lighter blue">@Resources.Resource.PolicyApproveBy</h6>
        <table class="table table-striped ">
            <tbody>
                @foreach (var item in ViewBag.ApproveList)
                {
                    <tr>
                        <td>
                            <a href="#">@item.empNameEn - @item.empNameAr</a>
                        </td>
                       
                        <td class="hidden-480">
                            @if (item.Approv == true)
                            {
                                <a href="">  <span class="label label-sm label-success">@Resources.Resource.Approve</span></a>

                            }
                            else
                            {
                                <a href="#"> <span class="label label-danger arrowed-in">@Resources.Resource.NotApprove</span></a>
                            }

                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <div class="col-xs-6">
        <h6 class="header smaller lighter blue">Policy Applies To</h6>
        @foreach (var item in ViewBag.Applies)
        {
            <a href="#"><span class="label label-sm label-inverse arrowed-in">@item.id  -  @item.DeptNameEn - @item.DeptNameAr</span></a>
        }

    </div>
</div>