﻿@if (!User.IsInRole("Admin"))
{
    <div class="row">

        <div class="col-xs-12">
            <div class="col-xs-12 infobox-container">


                <div class="infobox infobox-red">
                    <div class="infobox-icon">
                        <i class="ace-icon glyphicon glyphicon-zoom-in"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.Organization</span>
                        <div class="infobox-content">@Resources.Resource.DOrganization </div>
                    </div>
                </div>

                <div class="infobox infobox-orange2">
                    <div class="infobox-chart">
                        <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"><canvas style="display: inline-block; width: 44px; height: 26px; vertical-align: top;" width="44" height="26"></canvas></span>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.Management</span>
                        <div class="infobox-content">@Resources.Resource.DManagement</div>
                    </div>


                </div>

                <div class="infobox infobox-blue2">
                    <div class="infobox-icon">
                        <i class="ace-icon glyphicon glyphicon-align-center"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-text"> @ViewBag.Department</span>

                        <div class="infobox-content">
                           @Resources.Resource.DDepartment
                        </div>
                    </div>
                </div>

                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-users"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.EmpNumber</span>
                        <div class="infobox-content"> @Resources.Resource.DEmployeeNumber</div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-12 infobox-container">





                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-cog"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.Assets</span>
                        <div class="infobox-content">@Resources.Resource.DAssetNumber</div>
                    </div>


                </div>

                <div class="infobox infobox-red">
                    <div class="infobox-icon">
                        <i class="ace-icon glyphicon glyphicon-file"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.Policy</span>
                        <div class="infobox-content">@Resources.Resource.DPolicyNumbers</div>
                    </div>

                </div>

                <div class="infobox infobox-data">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-cogs"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.Incident</span>
                        <div class="infobox-content">@Resources.Resource.DComplain</div>
                    </div>

                </div>

                <div class="infobox infobox-blue2">
                    <div class="infobox-icon">
                        <i class="ace-icon glyphicon glyphicon-file"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number">@ViewBag.Orders</span>
                        <div class="infobox-content">@Resources.Resource.DMaintenanceOrders</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}