﻿@model IEnumerable<hospitalErpDomainLayer.OrganizationLicensesViewsModel>

@{
    ViewBag.Title = "OrganizationLicenses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidOrganizationLicenses</h3>

        <div class="clearfix">
            <div class="pull-left tableTools-container">
                <div class="clearfix">
                    <div class="pull-left tableTools-container">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <!-- div.table-responsive -->
        <!-- div.dataTables_borderWrap -->
        <div>
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        
                       
                      
                        <th>
                            @Resources.Resource.OLicensesName
                        </th>
                        <th>
                            @Resources.Resource.OLicensesName
                        </th>
                        <th>
                            @Resources.Resource.PStartDate
                        </th>
                        <th>
                            @Resources.Resource.PEndDate
                        </th>
                        <th>
                            @Resources.Resource.EnterDate
                        </th>
                      
                        <th>
                            @Resources.Resource.PPicture
                        </th>
                       
                      
                    </tr>
                    </thead>
                @if (Resources.Resource.SidOrganizationLicenses == "Organization Licenses")
                {
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>



                                <td>
                                    @Html.DisplayFor(modelItem => item.OLNameEnglish)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OLPlaceEnglish)
                                </td>
                                <td>

                                    @Convert.ToDateTime(item.OLStartDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>

                                    @Convert.ToDateTime(item.OLEndDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>

                                    @Convert.ToDateTime(item.OLEnterDate).ToString("dd/MM/yyyy")
                                </td>

                                <td>

                                    <a target="_blank" href="@item.OLimg"><i class="ace-icon glyphicon glyphicon-download"></i></a>
                                </td>



                            </tr>
                        }
                    </tbody>

                }
                else
                {

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>



                                <td>
                                    @Html.DisplayFor(modelItem => item.OLNameArabic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OLPlaceArabic)
                                </td>
                                <td>

                                    @Convert.ToDateTime(item.OLStartDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>

                                    @Convert.ToDateTime(item.OLEndDate).ToString("dd/MM/yyyy")
                                </td>
                                <td>

                                    @Convert.ToDateTime(item.OLEnterDate).ToString("dd/MM/yyyy")
                                </td>

                                <td>

                                    <a target="_blank" href="@item.OLimg"><i class="ace-icon glyphicon glyphicon-download"></i></a>
                                </td>



                            </tr>
                        }
                    </tbody>


                }

            </table>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });


    });
</script>
