﻿@model IEnumerable<hospitalErpDomainLayer.OrganizationLicensesViewsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.SidOrganizationLicenses</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="Org-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.HrtID

                    </th>
                    <th>
                        @Resources.Resource.OLicensesName
                    </th>
                    <th>
                        @Resources.Resource.OLicensesPlace
                    </th>
                    <th>
                        @Resources.Resource.PStartDate
                    </th>
                    <th>
                        @Resources.Resource.PEndDate
                    </th>

                    <th>
                        @Resources.Resource.PPicture
                    </th>
                    <th>
                        @Resources.Resource.Validity
                    </th>

                    <th></th>
                </tr>
            </thead>
            @if (@Resources.Resource.DepartmentName == "Department Name")
            {
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OLid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OLNameEnglish)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OLPlaceEnglish)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.OLStartDate).ToString("dd/MM/yyyy")

                            </td>
                            <td>
                                @Convert.ToDateTime(item.OLEndDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <a href="@item.OLimg" target="_blank"><i class="ace-icon glyphicon glyphicon-download"></i></a>
                            </td>

                            <td>
                                @if (item.OLValidity)
                                {
                                    <a href="/HrModule/OrganizationLicenses/Validity?Id=@item.OLid"><i class="ace-icon glyphicon glyphicon-repeat"></i></a>
                                }
                                else
                                {
                                    <i style="color:red" class="ace-icon fa fa-circle"></i>
                                }

                            </td>

                            <td>
                                <a class="btn btn-danger btn-sm" href="/HrModule/OrganizationLicenses/Delete?Id=@item.OLid">
                                    <i class="ace-icon glyphicon glyphicon-remove"></i>
                                </a>

                                <a class="btn btn-primary btn-sm" href="#" onclick="AddEdit(@item.OLid)">
                                    <i class="ace-icon glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            }
            else
            {

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OLid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OLNameArabic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OLPlaceArabic)
                            </td>
                            <td>
                                @Convert.ToDateTime(item.OLStartDate).ToString("dd/MM/yyyy")

                            </td>
                            <td>
                                @Convert.ToDateTime(item.OLEndDate).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                <a href="@item.OLimg" target="_blank"><i class="ace-icon glyphicon glyphicon-download"></i></a>
                            </td>

                            <td>
                                @if (item.OLValidity)
                                {
                                    <a href="/HrModule/OrganizationLicenses/Validity?Id=@item.OLid"><i class="ace-icon glyphicon glyphicon-repeat"></i></a>
                                }
                                else
                                {
                                    <i style="color:red" class="ace-icon fa fa-circle"></i>
                                }

                            </td>

                            <td>
                                <a class="btn btn-danger btn-sm" href="/HrModule/OrganizationLicenses/Delete?Id=@item.OLid">
                                    <i class="ace-icon glyphicon glyphicon-remove"></i>
                                </a>

                                <a class="btn btn-primary btn-sm" href="#" onclick="AddEdit(@item.OLid)">
                                    <i class="ace-icon glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            }


        </table>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.SidOrganizationLicenses</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#Org-table').DataTable({

        });

        $("#OLEndDate").datepicker({
            showButtonPanel: true,
            changeMonth: true,
            format: 'dd/mm/yyyy'
        });

        $("#OLStartDate").datepicker({
            showButtonPanel: true,
            changeMonth: true,
            format: 'dd/mm/yyyy'
        });
    });
</script>
<script>
    var AddEdit = function (id) {

        var url = "/HrModule/OrganizationLicenses/AddEdit?id=" + id;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>

