﻿@model hospitalErpDomainLayer.IncidentRiskSeventySubModel


<div class="row">
    <form id="myForm">


        <div class="col-xs-12">

            @Html.HiddenFor(model => model.RSSId)
            @Html.HiddenFor(model => model.OId)

            <div class="form-group">
                <label>@Resources.Resource.NameArabic</label>
                @Html.EditorFor(model => model.RSSNameAr, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <label>@Resources.Resource.NameEnglish</label>
                @Html.EditorFor(model => model.RSSNameEn, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <label>@Resources.Resource.RiskRating</label>
                @Html.EditorFor(model => model.RiskRating, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                <label>@Resources.Resource.RiskProbability</label>
                    <select id="RPMId" name="RPMId" class="form-control">
                        @foreach (var item in ViewBag.RiskProbabilityList)
                        {
                            <option value="@item.RPMId">@item.RPMINameEn - @item.RPMNameAr</option>
                        }
                    </select>
            </div>


            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.RSSId > 0)
                    {<span>Update</span> }
                    else
                    {<span>Save</span>}
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                RSSNameAr: "required",
                RSSNameEn: "required",
                RiskRating: "required",
                RSSNameAr: {
                    required: true,

                },

                RSSNameEn: {
                    required: true,
                },
                RiskRating: {
                    required: true,
                    number: true,
                },
            },
            messages: {
                RSSNameAr: {
                    required: "Please enter Name",
                },
                RSSNameEn: {
                    required: "Please enter Name",
                },
                RiskRating: {
                    required: "Please enter Name",
                    number: "Please enter Number"
                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/IncidentModel/IncidentRiskSeventySubs/AddEdit",
                    data: myformdata,
                    success: function () {
                        window.location.href = "/IncidentModel/IncidentRiskSeventySubs/Index";
                    }
                })
            }
        });
    });
</script>