﻿@model IEnumerable<hospitalErpDomainLayer.IncidentRiskSeventySubViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">@Resources.Resource.RiskSeventy</h3>

        <div class="clearfix">
            <div class=" tableTools-container">
                <div class="clearfix">
                    <div class=" tableTools-container">
                        <a href="#" class="btn btn-info" onclick="AddEdit(0)">@Resources.Resource.btnNew</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-header">
            ..
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Resources.Resource.HrtID
                    </th>
                    <th>
                        @Resources.Resource.NameArabic
                    </th>
                    <th>
                        @Resources.Resource.NameEnglish
                    </th>
                    <th>
                        @Resources.Resource.RiskRating
                    </th>

                    <th>
                        @Resources.Resource.RiskProbability
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RSSId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RSSNameAr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RSSNameEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RiskRating)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.RiskProbabilityEnglish) -  @Html.DisplayFor(modelItem => item.RiskProbabilityArabic)
                        </td>
                      
                        <td>
                            <a href="/IncidentModel/IncidentRiskSeventySubs/Delete?Id=@item.RSSId" class="btn btn-danger btn-sm">
                                <i class="ace-icon glyphicon glyphicon-remove"></i>
                            </a>
                            <a href="#" class="btn btn-primary btn-sm" onclick="AddEdit(@item.RSSId)">
                                <i class="ace-icon glyphicon glyphicon-pencil"></i>
                            </a>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h3 class="modal-title">@Resources.Resource.RiskSeventy</h3>
                </div>
                <div class="modal-body" id="myModalBodyDiv1">

                </div>
            </div>
        </div>
    </div>
</div>



@Scripts.Render("~/DataTable/Script")
<script type="text/javascript">
    $(document).ready(function () {
        $('#dynamic-table').DataTable({

        });
    });
</script>


<script>
    var AddEdit = function (id) {

        var url = "/IncidentModel/IncidentRiskSeventySubs/AddEdit?Id=" + id;

        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal("show");

        })

    }
</script>
