﻿@model hospitalErpDomainLayer.IncidentRiskProbabilityModel
<link href="~/assets/loading.css" rel="stylesheet" />
<form id="myForm">
    <div class="loading" id="loading" hidden>Loading&#8230;</div>
    <div class="row">
        <div class="col-xs-12">
            @Html.HiddenFor(model => model.RPMId)
            @Html.HiddenFor(model => model.OId)
            <div class="form-group">
                <label>@Resources.Resource.NameArabic</label>
                @Html.EditorFor(model => model.RPMNameAr, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <label> @Resources.Resource.NameEnglish</label>
                @Html.EditorFor(model => model.RPMINameEn, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.RPMId > 0)
                    {<span>@Resources.Resource.btnEdit</span> }
                    else
                    {<span>@Resources.Resource.btnSave</span>}
                </button>
            </div>
        </div>
    </div>
</form>

<script>
    $("#btnSubmit").click(function () {
        $("#myForm").validate({
            rules: {

                RPMNameAr: "required",
                RPMINameEn: "required",
                RPMNameAr: {
                    required: true,

                },
                RPMINameEn: {
                    required: true,
                },
            },
            messages: {
                RPMNameAr: {
                    required: "Please enter Name",
                },
                RPMINameEn: {
                    required: "Please enter Name",

                }
            },
            errorPlacement: function (error, element) { error.addClass("help-block"); element.parents(".form-group").addClass("has-feedback"); error.insertAfter(element); },
            highlight: function (element) { $(element).parents(".form-group").addClass("has-error").removeClass("has-success"); },
            unhighlight: function (element, errorClass, validClass) { $(element).parents(".form-group").addClass("has-success").removeClass("has-error"); },
            submitHandler: function (form) {
                $("#loading").show();
                var myformdata = $("#myForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/IncidentModel/IncidentRiskProbabilitys/AddEdit",
                    data: myformdata,
                    success: function () {
                        window.location.href = "/IncidentModel/IncidentRiskProbabilitys/Index";
                    }
                })
            }
        });
    });
</script>